body{
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.app{ background: #e4dfcd; padding: 3% 5%; }
.app .left{ float: left; width: 45%; }
.app .right{ float: right; width: 45%; padding-top: 50px; }
.app .user{ margin: 20px 0; }
.app .user .box{ float: left; width: 30%; text-align: center; padding: 10px 0; }
.app .user .box h3{ font-weight: normal; color: #4e473f; }
.app .user p{ float: left; width: 60%; padding: 30px 20px; color: #22252b; font-size: 21px; font-weight: normal; font-style: italic; }
.app .image{ float: left; width: 25%; }
.app .mobile{ float: left; width: 70%; }
.app .mobile h1{ color: #4e473f; margin-bottom: 10px; }
.app .mobile p{ color: #4e473f; line-height: 24px; }

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.app{ padding: 20px 0; }
	.app .left{ float: none; width: auto; padding: 10px 0; }
	.app .right{ float: none; width: auto; padding: 30px 0; }
	.app .image{ text-align: center; }
}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
	.app{ padding: 20px 0; }
	.app .left{ float: none; width: auto; }
	.app .right{ float: none; width: auto; padding-top: 20px; }
	.app .user{ margin: 0; }
	.app .user .box{ float: none; width: auto; text-align: center; padding: 10px 0; }
	.app .user .box h3{ font-weight: normal; color: #4e473f; }
	.app .user p{ float: none; width: auto; padding: 10px; text-align: center; }
	.app .image{ float: none; width: auto; text-align: center; }
	.app .mobile{ float: none; width: auto; padding: 15px; }
	.app .mobile h1{ font-size: 24px; text-align: center; }
	.app .mobile p{ font-size: 14px; line-height: 24px; text-align: center; }
}