.chart .box{ float: left; width: 70%; }
.chart .box .title{ padding: 15px 30px; }
.chart .box .title h1{ float: left; color: #323438; }
.chart .box .title a{ float: right; }

.chart .box .row{ background: #f4f1ea; }
.chart .box .row .cell{ width: 9%; float: left; text-align: center; padding: 12px 0 11px 0; }
.chart .box .row .cell h4{ color: #315fa9; }
.chart .box .row .cell img{ width: 100%; }
.chart .box .row .circle{ background: #f05a28; color: #fff; width: 25px; padding: 5px 2px; margin: 0 auto; margin-bottom: 5px; -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px; }
.chart .box .row .active{ background: #f05a28; }
.chart .box .row .active h4{ color: #fff; }
.chart .box .row .active .circle{ background: #fff; color: #f05a28; }
.chart .box .row .blank{ width: 25px; height: 25px; margin: 0 auto; margin-bottom: 5px; }

.chart .box .row .profile{ width: 9%; height: 95px; float: left; padding: 0; }
.chart .box .row .profile img{ width: 100%; height: 95px; }
.chart .box .row .info{ background: #e9e4d6; width: 91%; height: 95px; float: left; }
.chart .box .row .info.active{ background: #f05a28; }
.chart .box .row .info.active .box{ color: #fff; }
.chart .box .row .info .box{ float: left; width: 16.5%; padding: 30px 0 0 0; text-align: center; color: #323438; }
.chart .box .row .info .box ul{ text-align: center; }
.chart .box .row .info .box ul li{ display: inline-block; list-style: none; }

.chart .advertisement{ width: 29.8%; float: left; }
.chart .advertisement img{ width: 100%; }

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.chart .box{ float: none; width: auto; }
	.chart .box .row .info .box{ font-size: 13px; }
	.chart .advertisement{ width: auto; float: none; }
	.chart .advertisement img{ width: 50%; float: left; }
}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
	.chart .box{ float: none; width: auto; }
	.chart .box .title{ padding: 15px; }
	.chart .box .title h1{ font-size: 24px; }
	.chart .box .row .cell h4{ font-size: 11px; }
	.chart .box .row .info .box{ font-size: 12px; padding: 10px 0; }
	.chart .advertisement{ width: auto; float: none; }
	.chart .advertisement img{ width: 50%; float: left; }
}