@import url(meyer_reset.css);

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PC (list provided by Google Element Inspector):
 * Amazon Kindle Fire HDX 		-> 2560 x 1600
 * 
 * Laptop with HiDPI screen 	-> 1440 x 900
 */
a img { border: 0; cursor: pointer; }

h1{ font-size: 32px; font-weight: normal; }
h2{ font-size: 24px; font-weight: normal; }
h3{ font-size: 18px; font-weight: normal; }
h4{ font-size: 14px; font-weight: normal; }
h5{ font-size: 12px; font-weight: normal; }
h6{ font-size: 11px; font-weight: normal; }

.eventDisplayPage{ background: #e4dfcd; padding: 0% 3%; }
.eventDisplayPage .content .dashboard{ float: left; width: 100%; margin: 0 0 0 0; background: #FFFFFF; border-bottom: 1px solid #999;}
.eventDisplayPage .content .dashboard .box{ float: left; width: 100%; padding: 5px 0 5px 5px; }

.eventDisplayPage .content .dashboard .box .upper{ float: left; width: 49%; padding: 0 10px 0 0; }
.eventDisplayPage .content .dashboard .box .upper .upper-top{ width: 100%; float: left; padding: 0 10px 0 0; }

.eventDisplayPage .content .dashboard .box .upper .upper-top .eNameNHashtag,
.eventDisplayPage .content .dashboard .box .upper .upper-top .eDateTime,
.eventDisplayPage .content .dashboard .box .upper .upper-top .eDescription{ float: left; text-align: justify; width: 100%; word-wrap: break-word; text-transform: capitalize; padding: 0 0 10px 0; }

.eventDisplayPage .content .dashboard .box .upper .upper-top .eDateTime{ text-transform: none; }

.eventDisplayPage .content .dashboard .box .upper .upper-top .eNameNHashtag .eName{ width: auto; float: left; }
.eventDisplayPage .content .dashboard .box .upper .upper-top .eNameNHashtag .dash{ width: auto; float: left; }
.eventDisplayPage .content .dashboard .box .upper .upper-top .eNameNHashtag .eHash{ color: #dc582a; }

.eventDisplayPage .content .dashboard .box .upper .eFlyer img{ float: left; width: 100%; height: 413px; padding: 0 10px 0 0; }

.eventDisplayPage .content .dashboard .box .lower{ float: left; width: 49%; padding: 0 0 0 0; }

.eventDisplayPage .content .dashboard .box .lower .socialLinks{ float: left; width: 100%; padding: 0 0 10px 0; }

.eventDisplayPage .content .dashboard .box .lower .socialLinks .eWebsite{ padding: 0 0 10px 0; }

.eventDisplayPage .content .dashboard .box .lower .socialLinks .eFacebook,
.eventDisplayPage .content .dashboard .box .lower .socialLinks .eTwitter,
.eventDisplayPage .content .dashboard .box .lower .socialLinks .eGoogle{ float: left; width: 15%; }

.eventDisplayPage .content .dashboard .box .lower .socialLinks .eFacebook img,
.eventDisplayPage .content .dashboard .box .lower .socialLinks .eTwitter img,
.eventDisplayPage .content .dashboard .box .lower .socialLinks .eGoogle img { width: 40%; }

.eventDisplayPage .content .dashboard .box .lower .defaultPic{ width: 6%; float: left; }
.eventDisplayPage .content .dashboard .box .lower .defaultPic img{ width: 100%; }

.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone{ float: left; width: 92%; text-transform: capitalize; height: 50px; }

.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone .eAddress,
.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone .ePhone{ width: 100%; padding: 7px 0 0 0; }

.eventDisplayPage .content .dashboard .box .lower .eMap{ float: left; width: 100%;}

.eventDisplayPage .content .dashboard .box .lower .button{ float: left; width: 100%; padding-top: 25; }

/* http://sonspring.com/journal/clearing-floats */
.clear{ clear: both;  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0; }

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Laptop with HDPI screen		-> 1280 x 800
 * Laptop with touch 			-> 1280 x 950
 * Google Nexus 10 				-> 1280 x 800
 * 
 * Apple iPad 					-> 1024 x 768
 * Apple iPad Mini 				-> 1024 x 768
 * BlackBerry PlayBook 			-> 1024 x 600
 * 
 * Google Nexus 7 				-> 960 x 600
 */
@media only screen and (min-device-width: 960px) and (max-device-width: 1280px){
	.eventDisplayPage{ background: #e4dfcd; padding: 0% 3%; }
	.eventDisplayPage .content .dashboard{float: left; width: 100%; margin: 0 0 0 0; background: #FFFFFF; border-bottom: 1px solid #999;}
	.eventDisplayPage .content .dashboard .box{float: none; width: 100%; padding-left: 30px;}
	
	.eventDisplayPage .content .dashboard .box .upper .upper-top .eNameNHashtag,
	.eventDisplayPage .content .dashboard .box .upper .upper-top .eDateTime,
	.eventDisplayPage .content .dashboard .box .upper .upper-top .eDescription{ text-align: justify; width: 100%; word-wrap: break-word; text-transform: capitalize; padding: 0 0 10px 0; }	

	.eventDisplayPage .content .dashboard .box .upper .upper-top .eNameNHashtag .eName{ width: auto; float: left; }
	.eventDisplayPage .content .dashboard .box .upper .upper-top .eNameNHashtag .dash{ width: auto; float: left; }
	.eventDisplayPage .content .dashboard .box .upper .upper-top .eNameNHashtag .eHash{ color: #dc582a; }
	
	.eventDisplayPage .content .dashboard .box .upper .eFlyer img{ float: left; width: 100%; height: auto; padding: 0 17px 0 0; }
	
	.eventDisplayPage .content .dashboard .box .lower .socialLinks{ float: left; padding: 0 0 10px 0; }
	
	.eventDisplayPage .content .dashboard .box .lower .socialLinks .eWebsite{ float: left; width: 100%; }
	
	.eventDisplayPage .content .dashboard .box .lower .socialLinks .eFacebook,
	.eventDisplayPage .content .dashboard .box .lower .socialLinks .eTwitter,
	.eventDisplayPage .content .dashboard .box .lower .socialLinks .eGoogle{ float: left; width: 21%; }
	
	.eventDisplayPage .content .dashboard .box .lower{ float: left; width: 45%; padding: 5px 0 25px 0; }
	
	.eventDisplayPage .content .dashboard .box .lower .defaultPic{ width: 12%; float: left; }
	.eventDisplayPage .content .dashboard .box .lower .defaultPic img{ width: 100%; }
	
	.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone{ float: left; width: 88%; }
	
	.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone .eAddress,
	.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone .ePhone{ width: 100%; padding: 5px 0; }
	
	.eventDisplayPage .content .dashboard .box .lower .eMap{ float: left; width: 100%; }
	
	.eventDisplayPage .content .dashboard .box .lower .button{ float: right; width: 30%; padding: 12px 0 0 0; }
	.eventDisplayPage .content .dashboard .box .lower .button input,
	.eventDisplayPage .content .dashboard .box .lower .button a img{ width: 20%; height: auto; }
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 3GS												-> 320 x 480
 * Apple iPhone 4												-> 320 x 480
 * Google Nexus S												-> 320 x 533
 * HTC Evo, Touch HD, Desire HD, Desire							-> 320 x 533
 * LG Optimus 2X, Optimus 3D, Optimus Black						-> 320 X 533
 * Nokia Lumia 7X0, Lumia 8XX, Lumia 900, N800, N810, N900		-> 320 x 533
 * Samsung Galaxy S, S II, W									-> 320 x 533
 * Apple iPhone 5												-> 320 x 568
 * Motorola Defy, Droid, Droid X, Milestone						-> 320 x 569
 *	 															------------
 * BlackBerry Z30												-> 360 x 640
 * Google Nexus 5												-> 360 x 640
 * HTC One X, EVO LTE											-> 360 x 640
 * HTC Sensation, Evo 3D										-> 360 x 640
 * Nokia C5, C6, C7, N97, N8, X7								-> 360 x 640
 * Samsung Galaxy Note	3										-> 360 x 640
 * Samsung Galaxy Note	II										-> 360 x 640
 * Samsung Galaxy S II, Galaxy Nexus							-> 360 x 640
 * Samsung Galaxy S4											-> 360 x 640
 * Sony Xperia S, Ion											-> 360 x 640
 * Sony Xperia Z, Z1											-> 360 x 640
 * 																------------ 
 * Apple iPhone 6												-> 375 x 667 
 * 																------------ 
 * BlackBerry Z10												-> 384 x 640 
 * Google Nexus 4												-> 384 x 640 
 * LG Optimus Generation										-> 384 x 640 
 * 																------------
 * Samsung Galaxy Note											-> 400 x 640
 * 																------------ 
 * Apple iPhone 6 Plus											-> 414 x 736 
 * 																------------ 
 * LG Optimus LTE, Optimus 4X HD								-> 424 x 753 
 * 																------------ 
 * Sony Xperia Sola, U											-> 480 x 854
 * 																------------
 * Motorola Droid 3, Droid 4, Droid Razr, Atrix 4G, Atrix 2		-> 540 x 960
 * 																------------
 * Motorola Droid Razr HD										-> 720 x 1280
 */
@media only screen and (min-device-width: 213px) and (max-device-width: 720px){
	.eventDisplayPage{ background: #e4dfcd; padding: 0% 3%; }
	.eventDisplayPage .content .dashboard{float: left; width: 100%; margin: 0 0 0 0; background: #FFFFFF; border-bottom: 1px solid #999;}
	.eventDisplayPage .content .dashboard .box{float: none; width: 100%; padding-left: 3px;}

	.eventDisplayPage .content .dashboard .box .upper{ float: left; width: 100%; padding: 0 10px 0 0; }
	
	.eventDisplayPage .content .dashboard .box .upper .upper-top{ width: 100%; float: left; padding: 0 0 0 0; }
	
	.eventDisplayPage .content .dashboard .box .upper .upper-top .eNameNHashtag,
	.eventDisplayPage .content .dashboard .box .upper .upper-top .eDateTime,
	.eventDisplayPage .content .dashboard .box .upper .upper-top .eDescription{ text-align: justify; width: 98%; word-wrap: break-word;   text-transform: capitalize; }
	
	.eventDisplayPage .content .dashboard .box .upper .eDateTime .edate,
	.eventDisplayPage .content .dashboard .box .upper .eDateTime .etime{ width: 100%; }

	.eventDisplayPage .content .dashboard .box .upper .eFlyer{ float: none; width: 100%; }
	.eventDisplayPage .content .dashboard .box .upper .eFlyer img{ float: left; width: 98%; height: auto; padding: 0 0 0 0; }
	
	.eventDisplayPage .content .dashboard .box .lower .socialLinks{ float: left; padding-left: 0px; }
	.eventDisplayPage .content .dashboard .box .lower .socialLinks .eWebsite{ width: 100%; float: left; padding: 0 0 0 0;}
	
	.eventDisplayPage .content .dashboard .box .lower .socialLinks .eFacebook,
	.eventDisplayPage .content .dashboard .box .lower .socialLinks .eTwitter,
	.eventDisplayPage .content .dashboard .box .lower .socialLinks .eGoogle{ float: left; width: 13%; padding: 5px 0 0 0; }
	
	.eventDisplayPage .content .dashboard .box .lower .socialLinks .eFacebook img,
	.eventDisplayPage .content .dashboard .box .lower .socialLinks .eTwitter img,
	.eventDisplayPage .content .dashboard .box .lower .socialLinks .eGoogle img{ width: 38px; height: auto; float: left; padding: 0 0 0 0;}

	.eventDisplayPage .content .dashboard .box .lower .defaultPic{ width: 12%; height: auto; float: left; }
	.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone{ float: left; width: 88% }
	
	.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone .eAddress .eAdd,
	.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone .eAddress .eCity{ float: left; width: 93%; }
	
	.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone .eAddress,
	.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone .ePhone{ width: 100%; padding: 8px 0; }
	
	.eventDisplayPage .content .dashboard .box .lower{ float: left; width: 98%; padding: 10px 0px;}
	.eventDisplayPage .content .dashboard .box .lower .eMap{ float: left; width: 100%;}
	.eventDisplayPage .content .dashboard .box .lower .eMap #map{ width: 86%; height: auto; margin-top: 10px; position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223); }
	
	.eventDisplayPage .content .dashboard .box .lower .button{ float: left; width: 100%; padding-top: 25; }
	/*.eventDisplayPage .content .dashboard .box .lower .button .dltButton{ background-image: url("./images/btn_delete.png"); }*/
}