@import url(meyer_reset.css);

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PC (list provided by Google Element Inspector):
 * Amazon Kindle Fire HDX 		-> 2560 x 1600
 * 
 * Laptop with HiDPI screen 	-> 1440 x 900
 */
/* TYPOGRAPHY */
h1{ font-size: 41px; font-weight: normal; }
h2{ font-size: 21px; font-weight: normal; }
h3{ font-size: 17px; font-weight: normal; }
h4{ font-size: 14px; font-weight: normal; }
h5{ font-size: 13px; font-weight: normal; }
h6{ font-size: 11px; font-weight: normal; }

p{ line-height: normal; }

.eventCrt{ background: #f4f1ea; float: left; width: 100%; }

.eventCrt .sidebar{ float: left; width: 30%; padding: 20px; }
.eventCrt .sidebar .btn-event{ text-align: center; padding: 20px 0; }

.eventCrt .menu li{ list-style: none; }
.eventCrt .menu li h2{ background: url(../images/btn_arrow_down_black.png) no-repeat right; padding: 20px; border-bottom: 1px solid #aaa; outline: none; cursor: pointer; text-transform: uppercase; }
.eventCrt .menu li ul li h3{ background: url(../images/btn_arrow_down.png) no-repeat right; color: #888; padding: 20px 40px; border-bottom: 1px solid #888; outline: none; cursor: pointer; text-transform: uppercase; }
.eventCrt .menu li ul li img{ width: 14%; float: left; padding: 10px 10px 0 30px; }
.eventCrt .menu li ul li a{ font-size: 16px; color: #000; padding: 20px 50px; display: block; text-decoration: none; cursor: pointer;}
.eventCrt .menu li ul li a:hover{ background: #f2efe6; }

.eventCrt .content{ float: none; width: auto;  padding: 10px 0 0 0; background: #fff; border-bottom: 1px solid #999; }
.eventCrt .policy{ float: none; width: auto; padding: 133px 0px 10px 30px; }

.eventCrt .content .form-wrap .user-profile{ float: left; margin: -35px 0 0 0; width: 250px; }
.eventCrt .content .form-wrap .user-profile img{ border: 10px solid #f5f5f5; width: 100%; height: 250px;}
.eventCrt .content .form-wrap .user-profile p { font-size: 10pt; width: 220px; margin: 0 0 0 0;}
.eventCrt .content .form-wrap .user-profile .update-image{ background: url(../images/bg_black.png) repeat; padding: 20px; margin: 0 0 0 0; position: relative; z-index: 9; top: 229px; color: #fff; width: 91%; }
.eventCrt .content .form-wrap .user-profile .update-image h5{ float: left; text-transform: uppercase; padding: 7px 0 0 0; }
.eventCrt .content .form-wrap .user-profile .update-image img{ float: right; border: none; }

.eventCrt .content .form-wrap .user-form-top{ float: left; padding: 35px 0px 0px 45px; width: 29%; }
.eventCrt .content .form-wrap .user-form-top .nameEvent{ float: left; width: 100%; }
.eventCrt .content .form-wrap .user-form-top .nameEvent h1{ margin-bottom: 10px; }
.eventCrt .content .form-wrap .user-form-top .nameEvent .info .box{ float: left; }
.eventCrt .content .form-wrap .user-form-top .nameEvent .info .box h3{ color: #524a48; padding: 7px 20px 0 20px; text-transform: uppercase; }
.eventCrt .content .form-wrap .user-form-top textarea{ width: 97%; height: 100px; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; resize: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
.eventCrt .content .form-wrap .user-form-top select{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}
.eventCrt .content .form-wrap .user-form-top input{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.eventCrt .content .form-wrap .user-form-top .reach{ float: left; width: auto; text-align: right; }
.eventCrt .content .form-wrap .user-form-top .reach h3{ margin-bottom: 10px; }

.eventCrt .content .form-wrap .user-form-bottom{ float: none; padding: 0px 0px 0px 445px; width: 54%; }
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .locEvent, 
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .cityEvent, 
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .stEvent, 
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .zipEvent, 
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .phoneEvent,
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .sTimeEvent,
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .eTimeEvent,
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .eStartDate,
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .webEvent,
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .fbEvent,
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .gooEvent,
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .twEvent{ float: left; width: 50%; }

.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner{ float: left; margin: -70px 0 10px 0; }
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner img{ border: 10px solid #f5f5f5; width: 690px; height: 125px;}
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner input{ width: 96%; border: none; padding: 5px; margin: 0 0 0 0; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner p { font-size: 10pt; width: 220px; margin: 0 0 0 5px;}
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner .bannerImage{ background: url(../images/bg_black.png) repeat; padding: 5px; margin: 0 0 0 0; position: relative; z-index: 9; top: 130px; color: #fff; width: 98%; }
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner .bannerImage h5{ float: left; text-transform: uppercase; padding: 7px 0 0 0; }
.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner .bannerImage img{ float: right; border: none; }

.eventCrt .content .form-wrap .user-form-bottom .box-bottom .hashEvent{ width: 50%; }

.eventCrt .content .form-wrap .user-form-bottom input,
.eventCrt .content .form-wrap .user-form-bottom select{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.eventCrt .content .form-wrap .saved{ float: right; width: auto; padding-top: 50px; display: none; }

.eventCrt .content .form-wrap{ padding: 0 0 50px 0; }
.eventCrt .content .form-wrap h5, 
.eventCrt .content .user-form-top h5{ font-weight: bold; text-transform: uppercase; margin-bottom: 0px; }

.eventCrt .content .form-wrap select{ width: 99%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}

.eventCrt .content .form-wrap .social{ border-left: 1px solid #555; }
.eventCrt .content .form-wrap .social li{ float: left; list-style: none; padding: 10px 15px; border-right: 1px solid #555; border-top: 1px solid #555; border-bottom: 1px solid #555; }
.eventCrt .content .form-wrap .social li input{ float: left; padding: 0; margin: 20px 0 0 0; }
.eventCrt .content .form-wrap .social li label{ float: left; text-transform: uppercase; font-size: 13px; padding: 20px; }
.eventCrt .content .form-wrap .social li img{ float: right; }

.eventCrt .content .form-wrap .gmap{ float: right; border: 10px solid #f5f5f5; width: 320px; height: 320px; }

.eventCrt .content .form-wrap .user-form-top .error, 
.eventCrt .content .form-wrap .user-form-bottom .error{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #900;
	background-color : #ffff00;
}

#content #register_password_errorloc{ clear:both; }

.eventCrt .content .form-wrap .submitButton,
.eventCrt .content .form-wrap .payPalBtn{ float: right; width: 27%; }

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Laptop with HDPI screen		-> 1280 x 800
 * Laptop with touch 			-> 1280 x 950
 * Google Nexus 10 				-> 1280 x 800
 * 
 * Apple iPad 					-> 1024 x 768
 * Apple iPad Mini 				-> 1024 x 768
 * BlackBerry PlayBook 			-> 1024 x 600
 * 
 * Google Nexus 7 				-> 960 x 600
 */
@media only screen and (min-device-width: 960px) and (max-device-width: 1280px){
	.eventCrt{ background: #f4f1ea; float: left; width: 100%; }
	
	.eventCrt .sidebar{ float: left; width: 95%; padding: 20px; }
	
	.eventCrt .sidebar .btn-event{ text-align: center; padding: 20px 0; }/**/
	
	.eventCrt .content{ float: left; width: 89%; background: #fff; padding: 50px 50px 25px 50px; box-shadow: 0 2px 4px #555; }
	
	.eventCrt .policy{ float: none; width: auto; padding: 133px 0px 10px 30px; }
	
	.eventCrt .content .form-wrap{ padding: 0px 0; }
	.eventCrt .content .form-wrap select{ width: 100%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}
	.eventCrt .content .form-wrap h5, .eventCrt .content .user-form-top h5{ font-weight: bold; text-transform: uppercase; margin-bottom: 0px; }
	
	.eventCrt .content .form-wrap .user-profile{ float: left; margin: -40px 23px 0 0; width: 33%; }
	.eventCrt .content .form-wrap .user-profile img{ width: 100%; height: 250px; border: 10px solid #f5f5f5; }
	.eventCrt .content .form-wrap .user-profile .update-image{ background: url(../images/bg_black.png) repeat; padding: 20px; margin: 0 10px; position: relative; z-index: 9; top: 229px; color: #fff; }
	.eventCrt .content .form-wrap .user-profile .update-image h5{ float: left; text-transform: uppercase; padding: 7px 0 0 0; }
	.eventCrt .content .form-wrap .user-profile .update-image img{ float: right; border: none; }
	
	
	
	.eventCrt .content .form-wrap .user-form-top{ float: left; padding: 0 0 0 0; width: 50% }
	.eventCrt .content .form-wrap .user-form-top .box-top select{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}
	.eventCrt .content .form-wrap .user-form-top .box-top input{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
	.eventCrt .content .form-wrap .user-form-top textarea{ width: 97%; height: 100px; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; resize: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEven{ float: left; width: 100%; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEven h1{ margin-bottom: 10px; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEven .info .box{ float: left; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEven .info .box h3{ color: #524a48; padding: 7px 20px 0 20px; text-transform: uppercase; }
	
	.eventCrt .content .form-wrap .user-form-top .box-top .typeEvent{}
	
	.eventCrt .content .form-wrap .user-form-top .box-top .typeOther{}
	
	.eventCrt .content .form-wrap .user-form-top .box-top .adPlacement{}
	
	.eventCrt .content .form-wrap .user-form-top .box-top .reach{ float: left; width: auto; text-align: right; }
	.eventCrt .content .form-wrap .user-form-top .box-top .reach h3{ margin-bottom: 10px; }
	
	.eventCrt .content .form-wrap .user-form-bottom{ float: left; padding: 0px 0px 0px 0px; width: 100%; }
	
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom { float: left; width: 100%; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom input{ width: 100%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
	
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .wrap .type{ width: 210px; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .wrap .type input{ width: 99%; }
	
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .location{ margin-bottom: 10px; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .location input{ float: left; width: 76%; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .location input{ float: left; width: 97%; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .location .image{ float: left; margin-right: 10px; }
	
	.eventCrt .content .form-wrap .saved{ float: right; width: auto; padding-top: 50px; }
	.eventCrt .content .form-wrap .saved .box{ float: left; margin-left: 20px; }
	.eventCrt .content .form-wrap .saved .box h3{ color: #524a48; padding: 15px 10px 0 10px; }

	.eventCrt .content .form-wrap .social{ border-top: 1px solid #555; border-left: 1px solid #555; }
	.eventCrt .content .form-wrap .social li{ width: 302px; border-top: none; border-right: 1px solid #555; border-bottom: 1px solid #555; }

	.eventCrt .content .form-wrap .gmap{ float: left; width: 95%; margin: 30px 0; }
	
	.eventCrt .content .form-wrap .submitButton{ float: right; margin-top: 22px; }
	.eventCrt .content .form-wrap .submitButton input{ width: 100%; border: none; padding: 0 0 0 0px; margin-bottom: 5px; outline: none; -moz-border-radius: 0px; -webkit-border-radius: 0px; -khtml-border-radius: 0px; border-radius: 0px; }

	.eventCrt .content .form-wrap .social{ border-left: 1px solid #555; }
	.eventCrt .content .form-wrap .social li{ float: left; list-style: none; padding: 10px 15px; border-right: 1px solid #555; border-top: 1px solid #555; border-bottom: 1px solid #555; }
	.eventCrt .content .form-wrap .social li input{ float: left; padding: 0; margin: 20px 0 0 0; }
	.eventCrt .content .form-wrap .social li label{ float: left; text-transform: uppercase; font-size: 13px; padding: 20px; }
	.eventCrt .content .form-wrap .social li img{ float: right; }

	.eventCrt .content .form-wrap .gmap{ float: right; border: 10px solid #f5f5f5; width: 320px; height: 320px; }
	
	.eventCrt .content .none{ border: none; }

	.eventCrt .content .form-wrap .user-form-top .error, 
	.eventCrt .content .form-wrap .user-form-bottom .error{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		color: #900;
		background-color : #ffff00;
	}

	#content #register_password_errorloc{ clear:both; }

	.eventCrt .menu li{ list-style: none; }
	.eventCrt .menu li h2{ background: url(../images/btn_arrow_down_black.png) no-repeat right; padding: 20px; border-bottom: 1px solid #aaa; outline: none; cursor: pointer; text-transform: uppercase; }
	.eventCrt .menu li ul li h3{ background: url(../images/btn_arrow_down.png) no-repeat right; color: #888; padding: 20px 40px; border-bottom: 1px solid #888; outline: none; cursor: pointer; text-transform: uppercase; }
	.eventCrt .menu li ul li img{ width: 5%; float: left; padding: 10px 10px 0 30px; }
	.eventCrt .menu li ul li a{ font-size: 20pt; color: #000; padding: 20px 50px; display: block; text-decoration: none; cursor: pointer;}
	.eventCrt .menu li ul li a:hover{ background: #f2efe6; }
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 6 Plus 			-> 414 x 736
 * 
 * Google Nexus 4 				-> 384 x 640
 * LG Optimus L70 				-> 384 x 640
 * 
 * Apple iPhone 6 				-> 375 x 667
 * 
 * BlackBerry Z30 				-> 360 x 640
 * Google Nexus 5 				-> 360 x 640
 * Nokia N9 					-> 360 x 640
 * Samsung Galaxy Note 3 		-> 360 x 640
 * Samsung Galaxy Note II 		-> 360 x 640
 * Samsung Galaxy S III 		-> 360 x 640
 * Samsung Galaxy S 4 			-> 360 x 640
 * 
 * Apple iPhone 4 				-> 320 x 480
 * Apple iPhone 5 				-> 320 x 568
 * Nokia Lumia 520 				-> 320 x 533
 */
@media only screen and (min-device-width: 213px) and (max-device-width: 720px){
	.eventCrt{ background: #f4f1ea; float: left; width: 100%; }
	
	.eventCrt .sidebar{ float: left; width: 90%; padding: 20px; }
	
	.eventCrt .sidebar .btn-event{ text-align: center; padding: 20px 0; }/**/
	
	.eventCrt .content{ float: left; width: 90%; background: #fff; padding: 0 18px; box-shadow: 0 2px 4px #555; }
	
	.eventCrt .policy{ float: none; width: auto; /*background: url(../images/bg_shadow.png)*/ repeat-y left #fff; padding: 133px 0px 10px 30px;  }/**/
	
	.eventCrt .content .form-wrap{ /*border-bottom: 1px solid #999;*/ padding: 0px 0; }
	.eventCrt .content .form-wrap select{ width: 100%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}
	.eventCrt .content .form-wrap h5, .eventCrt .content .user-form-top h5{ font-weight: bold; font-size: 12pt; text-transform: uppercase; margin: 5px 0 0 0px; }
	
	.eventCrt .content .form-wrap .user-profile{ float: left; margin: -100px 0 0 0; width: 100%; }
	.eventCrt .content .form-wrap .user-profile img{ width: 90%; height: 250px; border: 10px solid #f5f5f5; }
	.eventCrt .content .form-wrap .user-profile .update-image{ background: url(../images/bg_black.png) repeat; padding: 20px; margin: 0 10px; position: relative; z-index: 9; top: 229px; color: #fff; width: 77%; }
	.eventCrt .content .form-wrap .user-profile .update-image h5{ float: left; text-transform: uppercase; padding: 7px 0 0 0; }
	.eventCrt .content .form-wrap .user-profile .update-image img{ float: right; border: none; }
	
	.eventCrt .content .form-wrap .user-form-top, .eventCrt .content .form-wrap .user-form-bottom{ float: left; padding: 0 0 0 0; width: 100% }
	.eventCrt .content .form-wrap .user-form-top .box-top select{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}
	.eventCrt .content .form-wrap .user-form-top .box-top input{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEvent{ float: left; width: 100%; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEvent h1{ margin-bottom: 10px; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEvent .info .box{ float: left; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEvent .info .box h3{ color: #524a48; padding: 7px 20px 0 20px; text-transform: uppercase; }
	
	.eventCrt .content .form-wrap .user-form-top .box-top .typeEvent,
	.eventCrt .content .form-wrap .user-form-top .box-top .typeOther,
	.eventCrt .content .form-wrap .user-form-top .box-top .adPlacement,
	.eventCrt .content .form-wrap .user-form-top .box-top .descevent{float: left; width: 100%;}
	
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner{ float: left; margin: -90px 0 10px 0; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner img{ border: 10px solid #f5f5f5; width: 90%; height: 125px;}
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner input{ width: 96%; border: none; padding: 5px; margin: 0 0 0 0; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner p { font-size: 10pt; width: 220px; margin: 0 0 0 5px;}
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner .bannerImage{ background: url(../images/bg_black.png) repeat; padding: 5px; margin: 0 0 0 0; position: relative; z-index: 9; top: 130px; color: #fff; width: 89%; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner .bannerImage h5{ float: left; text-transform: uppercase; padding: 7px 0 0 0; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .user-banner .bannerImage img{ float: right; border: none; }
	
	.eventCrt .content .form-wrap .user-form-top .box-top .reach{ float: left; width: auto; text-align: right; display: none; }
	.eventCrt .content .form-wrap .user-form-top .box-top .reach h3{ margin-bottom: 10px; }
	
	.eventCrt .content .form-wrap .user-form-top .box-top, 
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom { float: left; width: 100%; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom textarea{ width: 96%; height: auto; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; resize: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
	
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .locEvent, 
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .cityEvent, 
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .stEvent, 
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .zipEvent, 
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .phoneEvent,
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .sTimeEvent,
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .eTimeEvent,
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .eStartDate,
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .webEvent,
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .fbEvent,
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .gooEvent,
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .twEvent{ float: left; width: 100%; }
	
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .hashEvent{ width: 100%; }
	
	.eventCrt .content .form-wrap .user-form-bottom input,
	.eventCrt .content .form-wrap .user-form-bottom select{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
	
	.eventCrt .content .form-wrap .saved{ float: right; width: auto; padding-top: 50px; display: none; }
	.eventCrt .content .form-wrap .saved .box{ float: left; margin-left: 20px; }
	.eventCrt .content .form-wrap .saved .box h3{ color: #524a48; padding: 15px 10px 0 10px; }

	.eventCrt .content .form-wrap .social{ border-top: 1px solid #555; border-left: 1px solid #555; }
	.eventCrt .content .form-wrap .social li{ width: 302px; border-top: none; border-right: 1px solid #555; border-bottom: 1px solid #555; }

	.eventCrt .content .form-wrap .gmap{ float: left; width: 95%; margin: 30px 0; }
	
	.eventCrt .content .form-wrap .submitButton,
	.eventCrt .content .form-wrap .payPalBtn{ float: left; width: 96%; margin-top: 5px; }
	.eventCrt .content .form-wrap .submitButton input,
	.eventCrt .content .form-wrap .payPalBtn input{ position: relative; left: 23%; }
	.eventCrt .content .form-wrap .submitButton input{ width: 50%; border: none; padding: 0 0 0 0px; margin-bottom: 5px; outline: none; -moz-border-radius: 0px; -webkit-border-radius: 0px; -khtml-border-radius: 0px; border-radius: 0px; }
	
	
	.eventCrt .content .form-wrap .social{ border-left: 1px solid #555; }
	.eventCrt .content .form-wrap .social li{ float: left; list-style: none; padding: 10px 15px; border-right: 1px solid #555; border-top: 1px solid #555; border-bottom: 1px solid #555; }
	.eventCrt .content .form-wrap .social li input{ float: left; padding: 0; margin: 20px 0 0 0; }
	.eventCrt .content .form-wrap .social li label{ float: left; text-transform: uppercase; font-size: 13px; padding: 20px; }
	.eventCrt .content .form-wrap .social li img{ float: right; }

	.eventCrt .content .form-wrap .gmap{ float: right; border: 10px solid #f5f5f5; width: 320px; height: 320px; }
	
	.eventCrt .content .none{ border: none; }

	.eventCrt .content .form-wrap .user-form-top .error, 
	.eventCrt .content .form-wrap .user-form-bottom .error{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		color: #900;
		background-color : #ffff00;
	}

	#content #register_password_errorloc{ clear:both; }

	.eventCrt .menu li{ list-style: none; }
	.eventCrt .menu li h2{ background: url(../images/btn_arrow_down_black.png) no-repeat right; padding: 20px; border-bottom: 1px solid #aaa; outline: none; cursor: pointer; text-transform: uppercase; }
	.eventCrt .menu li ul li h3{ background: url(../images/btn_arrow_down.png) no-repeat right; color: #888; padding: 20px 40px; border-bottom: 1px solid #888; outline: none; cursor: pointer; text-transform: uppercase; }
	.eventCrt .menu li ul li img{ width: 10%; float: left; padding: 10px; }
	.eventCrt .menu li ul li a{ font-size: 16px; color: #000; padding: 13px 35px; display: block; text-decoration: none; cursor: pointer;}
	.eventCrt .menu li ul li a:hover{ background: #f2efe6; }
}