/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/
	
/* TYPOGRAPHY */
h1{ font-size: 41px; font-weight: normal; }
h2{ font-size: 21px; font-weight: normal; }
h3{ font-size: 17px; font-weight: normal; }
h4{ font-size: 14px; font-weight: normal; }
h5{ font-size: 13px; font-weight: normal; }
h6{ font-size: 11px; font-weight: normal; }

p{ line-height: normal; }

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
body{
	background: #e9e4d5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	-webkit-tap-highlight-color: rgb(255,255,158);
	margin: 0; padding: 0;
}

.eventCrt{ background: #f4f1ea; }

.eventCrt .sidebar{ float: left; width: 390px; padding: 20px; }
.eventCrt .sidebar .btn-event{ text-align: center; padding: 20px 0; }

.eventCrt .menu li{ list-style: none; }
.eventCrt .menu li h2{ background: url(../images/btn_arrow_down_black.png) no-repeat right; padding: 20px; border-bottom: 1px solid #aaa; outline: none; cursor: pointer; text-transform: uppercase; }
.eventCrt .menu li ul li h3{ background: url(../images/btn_arrow_down.png) no-repeat right; color: #888; padding: 20px 40px; border-bottom: 1px solid #888; outline: none; cursor: pointer; text-transform: uppercase; }
.eventCrt .menu li ul li img{ float: left; padding: 10px 10px 0 30px; }
.eventCrt .menu li ul li a{ font-size: 16px; color: #000; padding: 20px 50px; display: block; text-decoration: none; cursor: pointer;}
.eventCrt .menu li ul li a:hover{ background: #f2efe6; }

.eventCrt .content{ float: none; width: auto; /*background: url(../images/bg_shadow.png)*/ repeat-y left #fff; padding: 10px;  }
.eventCrt .policy{ float: none; width: auto; /*background: url(../images/bg_shadow.png)*/ repeat-y left #fff; padding: 133px 0px 10px 30px;  }
.eventCrt .content{ background: #fff; border-bottom: 1px solid #999; padding-bottom: 20px; }

.eventCrt .content .form-wrap .user-profile{ float: left; margin-right: 20px; margin-top: -25px; }
.eventCrt .content .form-wrap .user-profile img{ border: 10px solid #f5f5f5; }
.eventCrt .content .form-wrap .user-profile .update-image{ background: url(../images/bg_black.png) repeat; padding: 20px; margin: 0 10px; position: relative; z-index: 9; top: 229px; color: #fff; }
.eventCrt .content .form-wrap .user-profile .update-image h5{ float: left; text-transform: uppercase; padding: 7px 0 0 0; }
.eventCrt .content .form-wrap .user-profile .update-image img{ float: right; border: none; }

.eventCrt .content .form-wrap .user-menu{ float: left; padding: 35px 0px 0px 0px; }
.eventCrt .content .form-wrap .user-menu .name{ float: left; width: 200px; }
.eventCrt .content .form-wrap .user-menu .name h1{ margin-bottom: 10px; }
.eventCrt .content .form-wrap .user-menu .name .info .box{ float: left; }
.eventCrt .content .form-wrap .user-menu .name .info .box h3{ color: #524a48; padding: 7px 20px 0 20px; text-transform: uppercase; }

.eventCrt .content .form-wrap .user-menu select{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}
.eventCrt .content .form-wrap .user-menu input{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.eventCrt .content .form-wrap .user-menu .reach{ float: left; width: auto; text-align: right; }
.eventCrt .content .form-wrap .user-menu .reach h3{ margin-bottom: 10px; }

.eventCrt .content .form-wrap .saved{ float: right; width: auto; padding-top: 50px; }
.eventCrt .content .form-wrap .saved .box{ float: left; margin-left: 20px; }
.eventCrt .content .form-wrap .saved .box h3{ color: #524a48; padding: 15px 10px 0 10px; }
.eventCrt .content .none{ border: none; }

.eventCrt .content .form-wrap{ /*border-bottom: 1px solid #999;*/ padding: 0px 0; }
.eventCrt .content .form-wrap .box{ float: left; width: 500px; }
.eventCrt .content .form-wrap h5, 
.eventCrt .content .user-menu h5{ font-weight: bold; text-transform: uppercase; margin-bottom: 0px; }

.eventCrt .content .form-wrap .box input{ width: 95%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
.eventCrt .content .form-wrap .box .location{ margin-bottom: 10px; }
.eventCrt .content .form-wrap .box .location .image{ float: left; margin-right: 10px; }
.eventCrt .content .form-wrap .box .location input{ float: left; width: 97%; }

.eventCrt .content .form-wrap .box textarea{ width: 97%; height: 100px; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; resize: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.eventCrt .content .form-wrap .box .wrap .type{ width: 155px; float: left; margin-right: 10px;}
.eventCrt .content .form-wrap .box .wrap .type input{ width: 99%; }

.eventCrt .content .form-wrap select{ width: 99%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}

.eventCrt .content .form-wrap .social{ border-left: 1px solid #555; }
.eventCrt .content .form-wrap .social li{ float: left; list-style: none; padding: 10px 15px; border-right: 1px solid #555; border-top: 1px solid #555; border-bottom: 1px solid #555; }
.eventCrt .content .form-wrap .social li input{ float: left; padding: 0; margin: 20px 0 0 0; }
.eventCrt .content .form-wrap .social li label{ float: left; text-transform: uppercase; font-size: 13px; padding: 20px; }
.eventCrt .content .form-wrap .social li img{ float: right; }

.eventCrt .content .form-wrap .gmap{ float: right; border: 10px solid #f5f5f5; width: 320px; height: 320px; }

.eventCrt .content .form-wrap .user-menu .error, .eventCrt .content .form-wrap .form-wrap .box .error,
.eventCrt .content .form-wrap .user-profile .error, .eventCrt .content .form-wrap .box .error{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #900;
	background-color : #ffff00;
}

#content #register_password_errorloc{ clear:both; }

.eventCrt .content .form-wrap .submitButton{ float: right; }

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Google Nexus 7 2											-> 960 x 600
 * 															-------------
 * Google Nexus 7											-> 966 x 604
 * 															-------------
 * Amazon Kindle Fire (First Generation)					-> 1024 x 600
 * BlackBerry PlayBook										-> 1024 x 600
 * Samsung Galaxy Tab										-> 1024 x 600
 * Apple iPad 1/ 2/ iPad Mini								-> 1024 x 768
 * Apple iPad 3/ 4											-> 1024 x 768
 * 															-------------
 * Google Nexus 10											-> 1280 x 800
 * Motorola Xoom, Xyboard									-> 1280 x 800
 * Samsung Galaxy Tab 7.7, 8.9, 10.1						-> 1280 x 800
 * 															-------------
 * Amazon Kindle Fire HDX 7"								-> 1920 x 1200
 * 															-------------
 * Amazon Kindle Fire HDX 8.9"								-> 2560 x 1600
 */
@media only screen and (min-device-width: 960px) and (max-device-width: 1000px){
	.eventCrt{ background: #f4f1ea; float: left; width: 100%; }
	
	.eventCrt .sidebar{ float: left; width: 95%; padding: 20px; }
	
	.eventCrt .sidebar .btn-event{ text-align: center; padding: 20px 0; }/**/
	
	.eventCrt .content{ float: left; width: 89%; background: #fff; padding: 50px 50px 25px 50px; box-shadow: 0 2px 4px #555; }
	
	.eventCrt .policy{ float: none; width: auto; /*background: url(../images/bg_shadow.png)*/ repeat-y left #fff; padding: 133px 0px 10px 30px;  }/**/
	
	.eventCrt .content .form-wrap{ /*border-bottom: 1px solid #999;*/ padding: 0px 0; }
	.eventCrt .content .form-wrap select{ width: 100%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}
	.eventCrt .content .form-wrap h5, .eventCrt .content .user-menu h5{ font-weight: bold; text-transform: uppercase; margin-bottom: 0px; }
	
	.eventCrt .content .form-wrap .user-profile{ float: left; margin: -40px 23px 0 0; width: 33%; }
	.eventCrt .content .form-wrap .user-profile img{ width: 100%; height: auto; border: 10px solid #f5f5f5; }
	.eventCrt .content .form-wrap .user-profile .update-image{ background: url(../images/bg_black.png) repeat; padding: 20px; margin: 0 10px; position: relative; z-index: 9; top: 229px; color: #fff; }
	.eventCrt .content .form-wrap .user-profile .update-image h5{ float: left; text-transform: uppercase; padding: 7px 0 0 0; }
	.eventCrt .content .form-wrap .user-profile .update-image img{ float: right; border: none; }
	
	.eventCrt .content .form-wrap .user-form-top{ float: left; padding: 0 0 0 0; width: 50% }
	.eventCrt .content .form-wrap .user-form-top .box-top select{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}
	.eventCrt .content .form-wrap .user-form-top .box-top input{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEvent{ float: left; width: 100%; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEvent h1{ margin-bottom: 10px; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEvent .info .box{ float: left; }
	.eventCrt .content .form-wrap .user-form-top .box-top .nameEvent .info .box h3{ color: #524a48; padding: 7px 20px 0 20px; text-transform: uppercase; }
	
	.eventCrt .content .form-wrap .user-form-top .box-top .typeEvent{}
	
	.eventCrt .content .form-wrap .user-form-top .box-top .typeOther{}
	
	.eventCrt .content .form-wrap .user-form-top .box-top .adPlacement{}
	
	.eventCrt .content .form-wrap .user-form-top .box-top .reach{ float: left; width: auto; text-align: right; }
	.eventCrt .content .form-wrap .user-form-top .box-top .reach h3{ margin-bottom: 10px; }
	
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom { float: left; width: 100%; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom textarea{ width: 100%; height: auto; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; resize: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom input{ width: 100%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
	
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .wrap .type{ width: 210px; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .wrap .type input{ width: 99%; }
	
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .location input{ float: left; width: 76%; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .location{ margin-bottom: 10px; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .location input{ float: left; width: 97%; }
	.eventCrt .content .form-wrap .user-form-bottom .box-bottom .location .image{ float: left; margin-right: 10px; }
	
	.eventCrt .content .form-wrap .saved{ float: right; width: auto; padding-top: 50px; }
	.eventCrt .content .form-wrap .saved .box{ float: left; margin-left: 20px; }
	.eventCrt .content .form-wrap .saved .box h3{ color: #524a48; padding: 15px 10px 0 10px; }

	.eventCrt .content .form-wrap .social{ border-top: 1px solid #555; border-left: 1px solid #555; }
	.eventCrt .content .form-wrap .social li{ width: 302px; border-top: none; border-right: 1px solid #555; border-bottom: 1px solid #555; }

	.eventCrt .content .form-wrap .gmap{ float: left; width: 95%; margin: 30px 0; }
	
	.eventCrt .content .form-wrap .submitButton{ float: left; margin-top: 22px; }
	.eventCrt .content .form-wrap .submitButton input{ width: 100%; border: none; padding: 0 0 0 0px; margin-bottom: 5px; outline: none; -moz-border-radius: 0px; -webkit-border-radius: 0px; -khtml-border-radius: 0px; border-radius: 0px; }

	.eventCrt .content .form-wrap .social{ border-left: 1px solid #555; }
	.eventCrt .content .form-wrap .social li{ float: left; list-style: none; padding: 10px 15px; border-right: 1px solid #555; border-top: 1px solid #555; border-bottom: 1px solid #555; }
	.eventCrt .content .form-wrap .social li input{ float: left; padding: 0; margin: 20px 0 0 0; }
	.eventCrt .content .form-wrap .social li label{ float: left; text-transform: uppercase; font-size: 13px; padding: 20px; }
	.eventCrt .content .form-wrap .social li img{ float: right; }

	.eventCrt .content .form-wrap .gmap{ float: right; border: 10px solid #f5f5f5; width: 320px; height: 320px; }
	
	.eventCrt .content .none{ border: none; }

	.eventCrt .content .form-wrap .user-form-top .error, 
	.eventCrt .content .form-wrap .user-form-bottom .error{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9em;
		color: #900;
		background-color : #ffff00;
	}

	#content #register_password_errorloc{ clear:both; }

	.eventCrt .menu li{ list-style: none; }
	.eventCrt .menu li h2{ background: url(../images/btn_arrow_down_black.png) no-repeat right; padding: 20px; border-bottom: 1px solid #aaa; outline: none; cursor: pointer; text-transform: uppercase; }
	.eventCrt .menu li ul li h3{ background: url(../images/btn_arrow_down.png) no-repeat right; color: #888; padding: 20px 40px; border-bottom: 1px solid #888; outline: none; cursor: pointer; text-transform: uppercase; }
	.eventCrt .menu li ul li img{ float: left; padding: 10px 10px 0 30px; }
	.eventCrt .menu li ul li a{ font-size: 16px; color: #000; padding: 20px 50px; display: block; text-decoration: none; cursor: pointer;}
	.eventCrt .menu li ul li a:hover{ background: #f2efe6; }
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 3GS												-> 320 x 480
 * Apple iPhone 4												-> 320 x 480
 * Google Nexus S												-> 320 x 533
 * HTC Evo, Touch HD, Desire HD, Desire							-> 320 x 533
 * LG Optimus 2X, Optimus 3D, Optimus Black						-> 320 X 533
 * Nokia Lumia 7X0, Lumia 8XX, Lumia 900, N800, N810, N900		-> 320 x 533
 * Samsung Galaxy S, S II, W									-> 320 x 533
 * Apple iPhone 5												-> 320 x 568
 * Motorola Defy, Droid, Droid X, Milestone						-> 320 x 569
 *	 															------------
 * BlackBerry Z30												-> 360 x 640
 * Google Nexus 5												-> 360 x 640
 * HTC One X, EVO LTE											-> 360 x 640
 * HTC Sensation, Evo 3D										-> 360 x 640
 * Nokia C5, C6, C7, N97, N8, X7								-> 360 x 640
 * Samsung Galaxy Note	3										-> 360 x 640
 * Samsung Galaxy Note	II										-> 360 x 640
 * Samsung Galaxy S II, Galaxy Nexus							-> 360 x 640
 * Samsung Galaxy S4											-> 360 x 640
 * Sony Xperia S, Ion											-> 360 x 640
 * Sony Xperia Z, Z1											-> 360 x 640
 * 																------------ 
 * Apple iPhone 6												-> 375 x 667 
 * 																------------ 
 * BlackBerry Z10												-> 384 x 640 
 * Google Nexus 4												-> 384 x 640 
 * LG Optimus Generation										-> 384 x 640 
 * 																------------
 * Samsung Galaxy Note											-> 400 x 640
 * 																------------ 
 * Apple iPhone 6 Plus											-> 414 x 736 
 * 																------------ 
 * LG Optimus LTE, Optimus 4X HD								-> 424 x 753 
 * 																------------ 
 * Sony Xperia Sola, U											-> 480 x 854
 * 																------------
 * Motorola Droid 3, Droid 4, Droid Razr, Atrix 4G, Atrix 2		-> 540 x 960
 * 																------------
 * Motorola Droid Razr HD										-> 720 x 1280
 */
@media only screen and (min-device-width: 213px) and (max-device-width: 720px){
	.eventCrt .sidebar{ float: none; width: auto; padding: 15px 15px 40px 15px; }
	.eventCrt .sidebar .btn-event img{ width: 100%; padding: 0; }

	.eventCrt .menu li ul li h3{ padding: 20px; }
	.eventCrt .menu li ul li a{ padding: 20px; }

	.eventCrt .content{ float: none; width: auto; background: #fff; padding: 0 20px; box-shadow: 0 2px 4px #555; }

	.eventCrt .content .form-wrap .user-profile{ float: none; margin-top: 0; width: 240px; margin: 0 auto; }

	.eventCrt .content .form-wrap .user-menu{ float: none; padding: 30px 0 0 0; }
	.eventCrt .content .form-wrap .user-menu .box .nameEvent{ float: none; width: auto; margin-bottom: 0px; /*text-align: center;*/ }
	.eventCrt .content .form-wrap .user-menu .box .nameEvent h1{ margin-bottom: 20px; }
	.eventCrt .content .form-wrap .user-menu .box .nameEvent .info .box{ padding-left: 15px; }
	.eventCrt .content .form-wrap .user-menu .box .nameEvent .info .box h3{ padding: 7px 15px 0 15px; }

	.eventCrt .content .form-wrap .user-menu .reach{ float: none; text-align: center; margin: 20px 0; }

	.eventCrt .content .form-wrap .saved{ float: none; width: auto; padding-top: 0; }
	.eventCrt .content .form-wrap .saved .box{ float: none; margin: 20px 0; text-align: center; }

	.eventCrt .content .form-wrap{ padding: 0px 0; }
	.eventCrt .content .form-wrap .box{ float: none; width: auto; }
	
	.eventCrt .content .form-wrap .box input{ width: 92%; }
	.eventCrt .content .form-wrap .submitButton{ float: left; }
	.eventCrt .content .form-wrap .submitButton input{ width: 100%; border: none; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 0px; -webkit-border-radius: 0px; -khtml-border-radius: 0px; border-radius: 0px; }
	
	.eventCrt .content .form-wrap .box .location input{ width: 96%; }

	.eventCrt .content .form-wrap .box textarea{ width: 96%; }

	.eventCrt .content .form-wrap .box .wrap .type{ width: auto; float: none; margin-right: 0; }
	.eventCrt .content .form-wrap .box .wrap .type input{ width: 96%; }

	.eventCrt .content .form-wrap select{ width: 96%; }

	.eventCrt .content .form-wrap .social{ border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; }
	.eventCrt .content .form-wrap .social li{ float: none; height: 60px; border-right: none; border-top: none; }

	.eventCrt .content .form-wrap .gmap{ float: none; width: 93%; margin: 20px 0; }
	
	.eventCrt .menu li ul li img{ float: left; width: 19%; padding: 0 0 0 0px; }
	.eventCrt .menu li ul li a{ padding: 20px; font-size: 16px; color: #000; width: 100%; display: block; }
	
	.eventCrt .content .form-wrap .user-profile{ float: none; margin-top: 0; width: 289px; margin: 0 auto; }
	.eventCrt .content{ float: none; width: auto; background: #fff; padding: 0 20px 10px; box-shadow: 0 2px 4px #555; }
	.eventCrt .content .form-wrap .user-menu .name .info .box{ padding-left: 60px; }
	
	.clear{ clear: both;  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0; }
}