/*	Resets ------	*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

a img { border: 0; cursor: pointer; }

h1{ font-size: 31px; font-weight: normal; }
h2{ font-size: 24px; font-weight: normal; }
h3{ font-size: 18px; font-weight: normal; }
h4{ font-size: 14px; font-weight: normal; }
h5{ font-size: 12px; font-weight: normal; }
h6{ font-size: 11px; font-weight: normal; }

/* Selection colours (easy to forget) */
::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158); background: #e9e4d5;}

.eventDisplayPage{ background: #e4dfcd; padding: 0% 3%; }
.eventDisplayPage .content .dashboard{float: left; width: 100%; margin: 0 0 0 0; background: #FFFFFF; border-bottom: 1px solid #999;}
.eventDisplayPage .content .dashboard .box{float: none; width: 100%; padding-left: 30px;}

.eventDisplayPage .content .dashboard .box .upper .eNameNHashtag{ width: 30% }
.eventDisplayPage .content .dashboard .box .upper .eDateTime{ width: 30% }
.eventDisplayPage .content .dashboard .box .upper .eDescription{ width: 30% }

.eventDisplayPage .content .dashboard .box .upper .upperMid .eFlyer img{ float: left; width: 50%; height: auto; }
.eventDisplayPage .content .dashboard .box .upper .upperMid .socialLinks{ float: left; padding-left: 100px;}

.eventDisplayPage .content .dashboard .box .lower{ float: left; width: 86%; padding: 25px 0px 25px 0px; }
.eventDisplayPage .content .dashboard .box .lower .eMap{ float: left; width: 45%;}
.eventDisplayPage .content .dashboard .box .lower .eAdrsPhone{ width: 100% }

.eventDisplayPage .content .dashboard .box .lower .button{ float: left; width: 100%; padding-top: 25; }
/*.eventDisplayPage .content .dashboard .box .lower .button .dltButton{ background-image: url("./images/btn_delete.png"); }*/


/* http://sonspring.com/journal/clearing-floats */
.clear{ clear: both;  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0; }

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.eventDisplayPage{ padding: 20px 0; }
	.eventDisplayPage .left{ float: none; width: auto; padding: 10px 0; }
	.eventDisplayPage .right{ float: none; width: auto; padding: 30px 0; }
	.eventDisplayPage .image{ text-align: center; }
}

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body{ margin: 0; padding: 0; width: 360px;}
}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
	.eventDisplayPage{ padding: 20px 0; }
	.eventDisplayPage .left{ float: none; width: auto; }
	.eventDisplayPage .right{ float: none; width: auto; padding-top: 20px; }
	.eventDisplayPage .user{ margin: 0; }
	.eventDisplayPage .user .box{ float: none; width: auto; text-align: center; padding: 10px 0; }
	.eventDisplayPage .user .box h3{ font-weight: normal; color: #4e473f; }
	.eventDisplayPage .user p{ float: none; width: auto; padding: 10px; text-align: center; }
	.eventDisplayPage .image{ float: none; width: auto; text-align: center; }
	.eventDisplayPage .mobile{ float: none; width: auto; padding: 15px; }
	.eventDisplayPage .mobile h1{ font-size: 24px; text-align: center; }
	.eventDisplayPage .mobile p{ font-size: 14px; line-height: 24px; text-align: center; }
}