.footer .footer { background: #f4f1ea; padding: 0px 4% 40px 4%; }
.footer .footer  .social{ float: left; padding-top: 30px; }
.footer .footer  .social li{ list-style: none; display: inline-block; }
.footer .footer  .footer-logo{ float: right; }

.footer .footer  p.copyright {
	float:        left;
	padding:      0px;
	width:        230px;
	border-right: #e6e6e6 1px solid;
	text-align:   center;
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Google Nexus 7 2											-> 960 x 600
 * 															-------------
 * Google Nexus 7											-> 966 x 604
 * 															-------------
 * Amazon Kindle Fire (First Generation)					-> 1024 x 600
 * BlackBerry PlayBook										-> 1024 x 600
 * Samsung Galaxy Tab										-> 1024 x 600
 * Apple iPad 1/ 2/ iPad Mini								-> 1024 x 768
 * Apple iPad 3/ 4											-> 1024 x 768
 * 															-------------
 * Google Nexus 10											-> 1280 x 800
 * Motorola Xoom, Xyboard									-> 1280 x 800
 * Samsung Galaxy Tab 7.7, 8.9, 10.1						-> 1280 x 800
 * 															-------------
 * Amazon Kindle Fire HDX 7"								-> 1920 x 1200
 * 															-------------
 * Amazon Kindle Fire HDX 8.9"								-> 2560 x 1600
 */
@media only screen and (min-device-width: 960px) and (max-device-width: 2560px){
	.footer {float: left; width: 100%; }
	.footer .footer { width: 100%; background: #f4f1ea; padding: 0; }
	
	.footer .footer .social{ float: left; padding: 0 0 0 0; width: 50%; text-align: center; }
	.footer .footer .social li{ list-style: none; display: inline-block; }
	.footer .footer .social .FB a img, 
	.footer .footer .social .TW a img, 
	.footer .footer .social .Goo a img{ width: 100%; height: auto; }
	
	.footer .footer .footer-logo{ float: none; }
	
	.footer .footer p.copyright {
		float:        left;
		padding:      0px;
		width:        230px;
		border-right: #e6e6e6 1px solid;
		text-align:   center;
	}
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 3GS												-> 320 x 480
 * Apple iPhone 4												-> 320 x 480
 * Google Nexus S												-> 320 x 533
 * HTC Evo, Touch HD, Desire HD, Desire							-> 320 x 533
 * LG Optimus 2X, Optimus 3D, Optimus Black						-> 320 X 533
 * Nokia Lumia 7X0, Lumia 8XX, Lumia 900, N800, N810, N900		-> 320 x 533
 * Samsung Galaxy S, S II, W									-> 320 x 533
 * Apple iPhone 5												-> 320 x 568
 * Motorola Defy, Droid, Droid X, Milestone						-> 320 x 569
 *	 															------------
 * BlackBerry Z30												-> 360 x 640
 * Google Nexus 5												-> 360 x 640
 * HTC One X, EVO LTE											-> 360 x 640
 * HTC Sensation, Evo 3D										-> 360 x 640
 * Nokia C5, C6, C7, N97, N8, X7								-> 360 x 640
 * Samsung Galaxy Note	3										-> 360 x 640
 * Samsung Galaxy Note	II										-> 360 x 640
 * Samsung Galaxy S II, Galaxy Nexus							-> 360 x 640
 * Samsung Galaxy S4											-> 360 x 640
 * Sony Xperia S, Ion											-> 360 x 640
 * Sony Xperia Z, Z1											-> 360 x 640
 * 																------------ 
 * Apple iPhone 6												-> 375 x 667 
 * 																------------ 
 * BlackBerry Z10												-> 384 x 640 
 * Google Nexus 4												-> 384 x 640 
 * LG Optimus Generation										-> 384 x 640 
 * 																------------
 * Samsung Galaxy Note											-> 400 x 640
 * 																------------ 
 * Apple iPhone 6 Plus											-> 414 x 736 
 * 																------------ 
 * LG Optimus LTE, Optimus 4X HD								-> 424 x 753 
 * 																------------ 
 * Sony Xperia Sola, U											-> 480 x 854
 * 																------------
 * Motorola Droid 3, Droid 4, Droid Razr, Atrix 4G, Atrix 2		-> 540 x 960
 * 																------------
 * Motorola Droid Razr HD										-> 720 x 1280
 */
@media only screen and (min-device-width: 213px) and (max-device-width: 720px){
	.footer .footer{ background: #f4f1ea; padding: 0px 4% 40px 4%; }
	
	.footer .footer .social{ float: left; width: 100%; padding: 0 0 0 0px; text-align: center; }
	.footer .footer .social li{ list-style: none; display: inline-block; }
	.footer .footer .social .FB a img, 
	.footer .footer .social .TW a img, 
	.footer .footer .social .Goo a img{ width: 100%; height: auto; }
	
	.footer .footer .footer-logo{ float: none; text-align: center; }
	
	.footer .footer p.copyright {
		float:        left;
		padding:      0px;
		width:        100%;
		border-right: #e6e6e6 1px solid;
		text-align:   center;
	}
}