body{
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.footer{ background: #f4f1ea; padding: 20px 4% 40px 4%; }
.footer .social{ float: left; padding-top: 30px; }
.footer .social li{ list-style: none; display: inline-block; }
.footer .footer-logo{ float: right; }

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
	.footer{ padding: 0 0 20px 0; }
	.footer .social{ float: none; padding: 0; text-align: center; }
	.footer .social li{ list-style: none; display: inline-block; }
	.footer .footer-logo{ float: none; text-align: center; }
}

