.header{ /*border-bottom: 1px solid #595249;*/ }
.header .profile{ background: #e9e4d5; /*border-bottom: 5px solid #aca58d;*/ }
.header .profile .user{ float: left; width: 360px; /*height: 102px;*/ padding: 0px 0px 0px 10px; }
.header .profile .user img{ float: left; }
.header .profile .user a{ float: right; margin-top: 20px;}

.header .logo{ background: #e9e4d5; width: 275px; float: left; text-align: left; padding:20px; width: 30%; }

.header .date .box{ width: 275px; margin: 0 auto; }
.header .date h1{ float: left; color: #2e3135; padding: 10px 30px 0 0; }
.header .date .temp{ background: url(../images/bg_temperature.png) no-repeat right; float: left; width: 60px; height: 50px; padding: 10px 0 0 60px; font-size: 31px; color: #2e3135; }

.header .profile{ float: right; width: auto; padding: 35px 35px 0 0; }
.header .profile h2{ float: left; color: #554e45; padding: 50px 0 0 30px; }
.header .profile h3{ float: left; color: #554e45; padding: 10px 0 0 10px; }
.header .profile .username{ float: left; color: #554e45; padding: 10px 0 0 100px; }

.header .profile .search{ float: left; height: 85px; border-left: solid 1px #595249; border-right: 1px solid #595249; padding: 35px 50px 0 50px; text-align: center; }
.header .profile .search form{ border: 1px solid #595249; padding: 2px; }
.header .profile .search input{ background: #d2c9ab; padding: 10px; border: none; float: left; color: #ff0000; font-size: 16px; outline: none; }
.header .profile .search .btn-search{ padding: 0; }
.header .search .image{ margin-top: 10px; }
.header .search{ float:left; padding-top: 30px; width: 29%; }

.header .search form .searchBar{
	float:                 left;
	width:                 370px;
	border:                1px solid #999;
	padding:               10px;
	font-size:             15pt;
	margin:                0 0 0 5px;
	outline:               none;
	-moz-border-radius:    6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius:  6px;
	border-radius:         6px;
}

.header .search form .datePicker{
	float:                 left;
	width:                 146px;
	border:                1px solid #999;
	padding:               6px;
	font-size:             10pt;
	margin:                0 0 0 5px;
	outline:               none;
	-moz-border-radius:    6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius:  6px;
	border-radius:         6px;
}

.header .search .box { margin: 0px 0px; float:left; }

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Google Nexus 7 2											-> 960 x 600
 * 															-------------
 * Google Nexus 7											-> 966 x 604
 * 															-------------
 * Amazon Kindle Fire (First Generation)					-> 1024 x 600
 * BlackBerry PlayBook										-> 1024 x 600
 * Samsung Galaxy Tab										-> 1024 x 600
 * Apple iPad 1/ 2/ iPad Mini								-> 1024 x 768
 * Apple iPad 3/ 4											-> 1024 x 768
 * 															-------------
 * Google Nexus 10											-> 1280 x 800
 * Motorola Xoom, Xyboard									-> 1280 x 800
 * Samsung Galaxy Tab 7.7, 8.9, 10.1						-> 1280 x 800
 * 															-------------
 * Amazon Kindle Fire HDX 7"								-> 1920 x 1200
 * 															-------------
 * Amazon Kindle Fire HDX 8.9"								-> 2560 x 1600
 */
@media only screen and (min-width: 960px) and (max-width: 2560px){

}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 3GS												-> 320 x 480
 * Apple iPhone 4												-> 320 x 480
 * Google Nexus S												-> 320 x 533
 * HTC Evo, Touch HD, Desire HD, Desire							-> 320 x 533
 * LG Optimus 2X, Optimus 3D, Optimus Black						-> 320 X 533
 * Nokia Lumia 7X0, Lumia 8XX, Lumia 900, N800, N810, N900		-> 320 x 533
 * Samsung Galaxy S, S II, W									-> 320 x 533
 * Apple iPhone 5												-> 320 x 568
 * Motorola Defy, Droid, Droid X, Milestone						-> 320 x 569
 *	 															------------
 * BlackBerry Z30												-> 360 x 640
 * Google Nexus 5												-> 360 x 640
 * HTC One X, EVO LTE											-> 360 x 640
 * HTC Sensation, Evo 3D										-> 360 x 640
 * Nokia C5, C6, C7, N97, N8, X7								-> 360 x 640
 * Samsung Galaxy Note	3										-> 360 x 640
 * Samsung Galaxy Note	II										-> 360 x 640
 * Samsung Galaxy S II, Galaxy Nexus							-> 360 x 640
 * Samsung Galaxy S4											-> 360 x 640
 * Sony Xperia S, Ion											-> 360 x 640
 * Sony Xperia Z, Z1											-> 360 x 640
 * 																------------ 
 * Apple iPhone 6												-> 375 x 667 
 * 																------------ 
 * BlackBerry Z10												-> 384 x 640 
 * Google Nexus 4												-> 384 x 640 
 * LG Optimus Generation										-> 384 x 640 
 * 																------------
 * Samsung Galaxy Note											-> 400 x 640
 * 																------------ 
 * Apple iPhone 6 Plus											-> 414 x 736 
 * 																------------ 
 * LG Optimus LTE, Optimus 4X HD								-> 424 x 753 
 * 																------------ 
 * Sony Xperia Sola, U											-> 480 x 854
 * 																------------
 * Motorola Droid 3, Droid 4, Droid Razr, Atrix 4G, Atrix 2		-> 540 x 960
 * 																------------
 * Motorola Droid Razr HD										-> 720 x 1280
 */
@media only screen and (min-device-width: 213px) and (max-device-width: 720px){
	.header .profile{ background: #e9e4d5; float: left; width: 100%; padding: 0 0 0 0px; text-align: center; }
	
	.header .profile .user{ float: none; width: auto; height: auto; padding: 15px 0 15px 15px; }
	.header .profile .user a{ float: right; margin-top: 20px;}
	.header .profile .user h2{ padding: 30px 20px; }
	.header .profile .user img{ float: left; }
	
	.header .profile h2{ float: left; color: #554e45; padding: 30px 0 0 20px; }
	.header .profile h3{ float: left; color: #554e45; padding: 10px 0 0 10px; }
	
	.header .profile .username{ float: left; color: #554e45; padding: 10px 0 0 100px; }
	
	.header .profile .search{ float: none; height: auto; border-left: none; padding: 30px; text-align:center; }
	.header .profile .search form{ border: 1px solid #595249; padding: 2px; }
	.header .profile .search input{ background: #d2c9ab; padding: 10px; border: none; float: left; color: #ff0000; font-size: 16px; outline: none; }
	
	.header .search .image{ margin-top: 10px; }
	.header .search{ float: left; padding-top: 5px; width: 100%; text-align: center; }
	.header .search .box { margin: 0px 500px; float:left; }
	
	.header .search form input{ width: 280px; border: 1px solid #999; padding: 10px; font-size:15pt; margin-bottom: 5px; outline: none;
		-moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;
	}

	.header .logo{ width: 100%; padding: 30px 0 0 0; text-align: center; }
	
	.header .date{ float: none; width: auto; height: auto; padding-top: 0; text-align: center; }
	
	.header .date h1{ font-size: 24px; float: left; color: #2e3135; padding: 10px 30px 0 0; }
	
	.header .date .box{ width: auto; margin: 0 auto; }
	.header .date .box{ width: 275px; margin: 0 auto; }
	
	.header .date .temp{ float: none; margin: 0 auto; width: 80px; height: 50px; padding: 10px 0 0 40px; }
	.header .date .temp{ background: url(../images/bg_temperature.png) no-repeat right; float: left; width: 60px; height: 50px; padding: 10px 0 0 60px; font-size: 31px; color: #2e3135; }
	
	.header .date{ font-family: 'Raleway', sans-serif; font-size:18pt;  float: left; width: 350px; padding-top: 35px; }
	
	.header .search form .searchBar, .header .search form .datePicker{
		float:                 left;
		width:                 92%;
		border:                1px solid #999;
		padding:               10px;
		font-size:             12pt;
		margin:                0 5px 5px 5px;
		outline:               none;
		-moz-border-radius:    6px;
		-webkit-border-radius: 6px;
		-khtml-border-radius:  6px;
		border-radius:         6px;
	}
	
	.header .search form .search-icons{ float: left; width: 100%; margin: 0 5px 5px 5px; }
}