@import url(meyer_reset.css);

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PC (list provided by Google Element Inspector):
 * Amazon Kindle Fire HDX 		-> 2560 x 1600
 * 
 * Laptop with HiDPI screen 	-> 1440 x 900
 */
.header{ /*border-bottom: 1px solid #595249;*/ }
.header .profile{ background: #e9e4d5; float: right; width: 20%; padding: 35px 35px 0 0; }

.header .profile .user{ float: left; width: 360px; /*height: 102px;*/ padding: 0px 0px 0px 10px; }
.header .profile .user img{ float: left; }
.header .profile .user a{ float: right; margin-top: 20px;}

.header .logo{ background: #e9e4d5; width: 275px; float: left; text-align: left; padding: 20px 0 20px 20px; width: 30%; }

.header .date .box{ width: 275px; margin: 0 auto; }
.header .date h1{ float: left; color: #2e3135; padding: 10px 30px 0 0; }
.header .date .temp{ background: url(../images/bg_temperature.png) no-repeat right; float: left; width: 60px; height: 50px; padding: 10px 0 0 60px; font-size: 31px; color: #2e3135; }

.header .profile .crtEvent, 
.header .profile .inbtn, 
.header .profile .outbtn{ float: none; width: 100%; padding: 0 0 5px 0; }

.header .profile h2{ float: left; color: #554e45; padding: 50px 0 0 30px; }
.header .profile h3{ float: left; color: #554e45; padding: 10px 0 0 10px; }
.header .profile .username{ float: left; color: #554e45; padding: 10px 0 0 100px; }

.header .profile .search{ float: left; height: 85px; border-left: solid 1px #595249; border-right: 1px solid #595249; padding: 35px 50px 0 50px; text-align: center; }
.header .profile .search form{ border: 1px solid #595249; padding: 2px; }
.header .profile .search input{ background: #d2c9ab; padding: 10px; border: none; float: left; color: #ff0000; font-size: 16px; outline: none; }
.header .profile .search .btn-search{ padding: 0; }
.header .search .image{ margin-top: 10px; }
.header .search{ float:left; padding: 35px 0 10px 0; width: 36%; }

.header .search form .searchBar { float: left; width: 100%; }
.header .search form .datePicker{ float: left; width: 30%; }
.header .search .search-icons{ float: left; width: 64%; }
.header .search .search-icons a img { width: 14%; height: auto; }
.header .search .search-icons .sport,
.header .search .search-icons .concert,
.header .search .search-icons .fair,
.header .search .search-icons .art,
.header .search .search-icons img.spacer,
.header .search .search-icons .clearX{ float: left; }

.header .search .search-icons form.sport{ width: 17%; }
.header .search .search-icons form.concert{  }
.header .search .search-icons form.fair{  }
.header .search .search-icons form.art{  }

.header .search form .searchBar input#submitButton{
	float:                 left;
	width:                 14%;
	height:                auto;
	border:                none;
	padding:               0 0 0 0;
	margin:                0 0 0 0;
	outline:               none;
	-moz-border-radius:    6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius:  6px;
	border-radius:         6px;
}

.header .search form .searchBar input{
	float:                 left;
	width:                 78%;
	border:                1px solid #999;
	padding:               10px;
	font-size:             15pt;
	margin:                0 5px 5px 0;
	outline:               none;
	-moz-border-radius:    6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius:  6px;
	border-radius:         6px;
}

.header .search form .datePicker input{
	float:                 left;
	width:                 80%;
	border:                1px solid #999;
	padding:               6px;
	font-size:             10pt;
	margin:                0 0 0 0;
	outline:               none;
	-moz-border-radius:    6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius:  6px;
	border-radius:         6px;
}

.header .search .box { margin: 0px 0px; float:left; }

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Laptop with HDPI screen		-> 1280 x 800
 * Laptop with touch 			-> 1280 x 950
 * Google Nexus 10 				-> 1280 x 800
 * 
 * Apple iPad 					-> 1024 x 768
 * Apple iPad Mini 				-> 1024 x 768
 * BlackBerry PlayBook 			-> 1024 x 600
 * 
 * Google Nexus 7 				-> 960 x 600
 */
@media only screen and (min-device-width: 960px) and (max-device-width: 1280px){
	.header{ /*border-bottom: 1px solid #595249;*/ }
	.header .profile{ background: #e9e4d5; float: right; width: 20%; padding: 35px 35px 0 0; }

	.header .profile .user{ float: left; width: 360px; /*height: 102px;*/ padding: 0px 0px 0px 10px; }
	.header .profile .user img{ float: left; }
	.header .profile .user a{ float: right; margin-top: 20px;}

	.header .logo{ background: #e9e4d5; width: 275px; float: left; text-align: left; padding: 20px 0 20px 20px; width: 30%; }

	.header .date .box{ width: 275px; margin: 0 auto; }
	.header .date h1{ float: left; color: #2e3135; padding: 10px 30px 0 0; }
	.header .date .temp{ background: url(../images/bg_temperature.png) no-repeat right; float: left; width: 60px; height: 50px; padding: 10px 0 0 60px; font-size: 31px; color: #2e3135; }

	.header .profile .crtEvent, 
	.header .profile .inbtn, 
	.header .profile .outbtn{ float: none; width: 100%; padding: 0 0 5px 0; }

	.header .profile h2{ float: left; color: #554e45; padding: 50px 0 0 30px; }
	.header .profile h3{ float: left; color: #554e45; padding: 10px 0 0 10px; }
	.header .profile .username{ float: left; color: #554e45; padding: 10px 0 0 100px; }

	.header .profile .search{ float: left; height: 85px; border-left: solid 1px #595249; border-right: 1px solid #595249; padding: 35px 50px 0 50px; text-align: center; }
	.header .profile .search form{ border: 1px solid #595249; padding: 2px; }
	.header .profile .search input{ background: #d2c9ab; padding: 10px; border: none; float: left; color: #ff0000; font-size: 16px; outline: none; }
	.header .profile .search .btn-search{ padding: 0; }
	.header .search .image{ margin-top: 10px; }
	.header .search{ float:left; padding-top: 35px; width: 36%; }
	
	.header .search form{ float: left; width: 100%; }
	.header .search form .searchBar { float: left; width: 100%; }
	.header .search form .datePicker{ float: left; width: 50%; }
	.header .search form .search-icons{ float: left; width: 50%; }
	.header .search form .search-icons a img { width: 14%; height: auto; }

	.header .search form .searchBar input{
		float:                 left;
		width:                 100%;
		border:                1px solid #999;
		padding:               10px;
		font-size:             15pt;
		margin:                0 0 5px 5px;
		outline:               none;
		-moz-border-radius:    6px;
		-webkit-border-radius: 6px;
		-khtml-border-radius:  6px;
		border-radius:         6px;
	}

	.header .search form .datePicker input{
		float:                 left;
		width:                 146px;
		border:                1px solid #999;
		padding:               6px;
		font-size:             10pt;
		margin:                0 40px 5px 5px;
		outline:               none;
		-moz-border-radius:    6px;
		-webkit-border-radius: 6px;
		-khtml-border-radius:  6px;
		border-radius:         6px;
	}

	.header .search .box { margin: 0px 0px; float:left; }
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 3GS												-> 320 x 480
 * Apple iPhone 4												-> 320 x 480
 * Google Nexus S												-> 320 x 533
 * HTC Evo, Touch HD, Desire HD, Desire							-> 320 x 533
 * LG Optimus 2X, Optimus 3D, Optimus Black						-> 320 X 533
 * Nokia Lumia 7X0, Lumia 8XX, Lumia 900, N800, N810, N900		-> 320 x 533
 * Samsung Galaxy S, S II, W									-> 320 x 533
 * Apple iPhone 5												-> 320 x 568
 * Motorola Defy, Droid, Droid X, Milestone						-> 320 x 569
 *	 															------------
 * BlackBerry Z30												-> 360 x 640
 * Google Nexus 5												-> 360 x 640
 * HTC One X, EVO LTE											-> 360 x 640
 * HTC Sensation, Evo 3D										-> 360 x 640
 * Nokia C5, C6, C7, N97, N8, X7								-> 360 x 640
 * Samsung Galaxy Note	3										-> 360 x 640
 * Samsung Galaxy Note	II										-> 360 x 640
 * Samsung Galaxy S II, Galaxy Nexus							-> 360 x 640
 * Samsung Galaxy S4											-> 360 x 640
 * Sony Xperia S, Ion											-> 360 x 640
 * Sony Xperia Z, Z1											-> 360 x 640
 * 																------------ 
 * Apple iPhone 6												-> 375 x 667 
 * 																------------ 
 * BlackBerry Z10												-> 384 x 640 
 * Google Nexus 4												-> 384 x 640 
 * LG Optimus Generation										-> 384 x 640 
 * 																------------
 * Samsung Galaxy Note											-> 400 x 640
 * 																------------ 
 * Apple iPhone 6 Plus											-> 414 x 736 
 * 																------------ 
 * LG Optimus LTE, Optimus 4X HD								-> 424 x 753 
 * 																------------ 
 * Sony Xperia Sola, U											-> 480 x 854
 * 																------------
 * Motorola Droid 3, Droid 4, Droid Razr, Atrix 4G, Atrix 2		-> 540 x 960
 * 																------------
 * Motorola Droid Razr HD										-> 720 x 1280
 */
@media only screen and (min-device-width: 213px) and (max-device-width: 720px){
	.header .profile{ background: #e9e4d5; float: left; width: 100%; padding: 0 0 0 0px; text-align: center; }
	
	.header .profile .user{ float: none; width: auto; height: auto; padding: 15px 0 15px 15px; }
	.header .profile .user a{ float: right; margin-top: 20px;}
	.header .profile .user h2{ padding: 30px 20px; }
	.header .profile .user img{ float: left; }
	
	.header .profile h2{ float: left; color: #554e45; padding: 30px 0 0 20px; }
	.header .profile h3{ float: left; color: #554e45; padding: 10px 0 0 10px; }
	
	.header .profile .username{ float: left; color: #554e45; padding: 10px 0 0 100px; }
	
	.header .search .search-icons{ float: left; width: 74%; text-align: center; padding-left: 50px; }
	
	.header .profile .search{ float: none; height: auto; border-left: none; padding: 30px; text-align:center; }
	.header .profile .search form{ border: 1px solid #595249; padding: 2px; }
	.header .profile .search input{ background: #d2c9ab; padding: 10px; border: none; float: left; color: #ff0000; font-size: 16px; outline: none; }
	
	.header .profile .crtEvent{ padding: 5px 0 10px 6px; }
	
	.header .profile .inbtn,
	.header .profile .outbtn{ padding: 5px 0 10px 0; }
	
	.header .profile .crtEvent,
	.header .profile .inbtn,
	.header .profile .outbtn{ float: left; width: 48%; }
	
	
	
	.header .profile .crtEvent img, 
	.header .profile .inbtn img, 
	.header .profile .outbtn img{ float: left; width: 96%; padding: 5px 0 0 0; }
	
	.header .logo{ width: 90%; padding: 10px 20px 0; text-align: center; }
	
	.header .date{ float: none; width: auto; height: auto; padding-top: 0; text-align: center; }
	
	.header .date h1{ font-size: 24px; float: left; color: #2e3135; padding: 10px 30px 0 0; }
	
	.header .date .box{ width: auto; margin: 0 auto; }
	.header .date .box{ width: 275px; margin: 0 auto; }
	
	.header .date .temp{ float: none; margin: 0 auto; width: 80px; height: 50px; padding: 10px 0 0 40px; }
	.header .date .temp{ background: url(../images/bg_temperature.png) no-repeat right; float: left; width: 60px; height: 50px; padding: 10px 0 0 60px; font-size: 31px; color: #2e3135; }
	
	.header .date{ font-family: Arial, Helvetica, sans-serif; font-size:18pt;  float: left; width: 350px; padding-top: 35px; }
	
	.header .search{ float: left; padding-top: 5px; width: 100%; text-align: center; }
	.header .search form .searchBar,
	.header .search form .datePicker{ float: left; margin: 0 20px; width: 90%; }
	.header .search form .search-icons{ float: left; width: 90%; margin: 0 20px 0; }
	.header .search form .search-icons a img { width: 12%; height: auto; }
	.header .search .image{ margin-top: 10px; }
	.header .search .box { margin: 0px 500px; float:left; }
	
	.header .search form .searchBar #submitButton { float: left; width: 30%; }
	
	.header .search form .searchBar input#submitButton{
		float:                 left;
		width:                 15%;
		height:                auto;
		border:                none;
		padding:               0 0 0 0;
		margin:                0 0 0 0;
		outline:               none;
		-moz-border-radius:    6px;
		-webkit-border-radius: 6px;
		-khtml-border-radius:  6px;
		border-radius:         6px;
	}
	
	.header .search form .searchBar input, 
	.header .search form .datePicker input{
		float:                 left;
		border:                1px solid #999;
		padding:               10px;
		font-size:             12pt;
		margin:                0 5px 5px 5px;
		outline:               none;
		-moz-border-radius:    6px;
		-webkit-border-radius: 6px;
		-khtml-border-radius:  6px;
		border-radius:         6px;
	}
	
	.header .search form .searchBar input{ width: 73%; }
	
	.header .search form .datePicker input{ width: 89%; }
}