.form-wrap{ background: #FFF; }
.form-wrap .login{ text-align: center; padding: 25px 0px 25px 0px; }
.form-wrap .login .textbox .buttonInput{ width: auto; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.form-wrap .content a { float: right; margin-top: 0px; }

.label { padding-top: 20px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px)

}