@import url(meyer_reset.css);

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PC (list provided by Google Element Inspector):
 * Amazon Kindle Fire HDX 		-> 2560 x 1600
 * 
 * Laptop with HiDPI screen 	-> 1440 x 900
 */
.form-wrap{ background: #FFF;  float: left; width: 100%; }
.form-wrap .login{ text-align: center; padding: 25px 0px 25px 0px; width: 100%; }
.form-wrap .login .top-login{ text-align: center; width: 100%; }
.form-wrap .login .top-login input{ width: auto; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.form-wrap .content a { float: right; margin-top: 0px; }

.label { padding-top: 20px; border-top: 1px solid #fff; }

.btn-log{
	padding: 5px 0 0 0;
}

.form-wrap #login .error,
.form-wrap .login .top-login .user-input .error,
.form-wrap .login .top-login .user-pass .error{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #900;
	background-color: #ffff00;
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Laptop with HDPI screen		-> 1280 x 800
 * Laptop with touch 			-> 1280 x 950
 * Google Nexus 10 				-> 1280 x 800
 * 
 * Apple iPad 					-> 1024 x 768
 * Apple iPad Mini 				-> 1024 x 768
 * BlackBerry PlayBook 			-> 1024 x 600
 * 
 * Google Nexus 7 				-> 960 x 600
 */
@media only screen and (min-device-width: 960px) and (max-device-width: 1280px){
	.form-wrap{ background: #FFF; float: left; width: 100%; }
	.form-wrap .login{ text-align: center; padding: 25px 0px 25px 0px; width: 100%; }
	.form-wrap .login .top-login{ text-align: center; width: 100%; }
	.form-wrap .login .top-login input{ width: auto; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

	.form-wrap .login .btn-log{ text-align: center; width: 100%; padding: 0px; }
	.form-wrap .login .btn-log .btn-primary, 
	.form-wrap .login .btn-log .btn-reg,
	.form-wrap .login .btn-log .btn-fb{ text-align: center; width: 100%; padding: 0 0 5px 0; }
	
	.form-wrap .content a { float: right; margin-top: 0px; }

	.label { padding-top: 5px; border-top: 1px solid #fff; }
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 6 Plus 			-> 414 x 736
 * 
 * Google Nexus 4 				-> 384 x 640
 * LG Optimus L70 				-> 384 x 640
 * 
 * Apple iPhone 6 				-> 375 x 667
 * 
 * BlackBerry Z30 				-> 360 x 640
 * Google Nexus 5 				-> 360 x 640
 * Nokia N9 					-> 360 x 640
 * Samsung Galaxy Note 3 		-> 360 x 640
 * Samsung Galaxy Note II 		-> 360 x 640
 * Samsung Galaxy S III 		-> 360 x 640
 * Samsung Galaxy S 4 			-> 360 x 640
 * 
 * Apple iPhone 4 				-> 320 x 480
 * Apple iPhone 5 				-> 320 x 568
 * Nokia Lumia 520 				-> 320 x 533
 */
@media only screen and (min-device-width: 213px) and (max-device-width: 720px){
	.form-wrap{ background: #FFF; }
	.form-wrap .login{ text-align: center; padding: 25px 0px 25px 0px; }

	.form-wrap .login .textbox .buttonInput{ width: auto; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
	
	.form-wrap .login .btn-log{ text-align: center; width: 100%; padding: 0px; }
	.form-wrap .login .btn-log .btn-primary, 
	.form-wrap .login .btn-log .btn-reg,
	.form-wrap .login .btn-log .btn-fb{ text-align: center; width: 100%; padding: 0 0 5px 0; }
	
	.form-wrap .content a { float: right; margin-top: 0px; }

	.label { padding-top: 20px; }
}