/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

/* FONTS */

/* TYPOGRAPHY */
h1{ font-size: 41px; font-weight: normal; }
h2{ font-size: 21px; font-weight: normal; }
h3{ font-size: 17px; font-weight: normal; }
h4{ font-size: 14px; font-weight: normal; }
h5{ font-size: 13px; font-weight: normal; }
h6{ font-size: 11px; font-weight: normal; }

p{ line-height: normal; }

/* Selection colours (easy to forget) */

::selection			{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body{
	background: #e9e4d5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.main{ background: #f4f1ea; }

.main .sidebar{ float: left; width: 390px; padding: 20px; }
.main .sidebar .btn-event{ text-align: center; padding: 20px 0; }

.main .menu li{ list-style: none; }
.main .menu li h2{ background: url(../images/btn_arrow_down_black.png) no-repeat right; padding: 20px; border-bottom: 1px solid #aaa; outline: none; cursor: pointer; text-transform: uppercase; }
.main .menu li ul li h3{ background: url(../images/btn_arrow_down.png) no-repeat right; color: #888; padding: 20px 40px; border-bottom: 1px solid #888; outline: none; cursor: pointer; text-transform: uppercase; }
.main .menu li ul li img{ float: left; padding: 10px 10px 0 30px; }
.main .menu li ul li a{ font-size: 16px; color: #000; padding: 20px 50px; display: block; text-decoration: none; }
.main .menu li ul li a:hover{ background: #f2efe6; }

.main .content{ float: none; width: auto; /*background: url(../images/bg_shadow.png)*/ repeat-y left #fff; padding: 10px;  }
.main .policy{ float: none; width: auto; /*background: url(../images/bg_shadow.png)*/ repeat-y left #fff; padding: 133px 0px 10px 30px;  }
.main .content .dashboard{ background: #fff; border-bottom: 1px solid #999; padding-bottom: 20px; }

.main .content .dashboard .user-profile{ float: left; margin-right: 20px; margin-top: -25px; }
.main .content .dashboard .user-profile img{ border: 10px solid #f5f5f5; }
.main .content .dashboard .user-profile .update-image{ background: url(../images/bg_black.png) repeat; padding: 20px; margin: 0 10px; position: relative; z-index: 9; top: 229px; color: #fff; }
.main .content .dashboard .user-profile .update-image h5{ float: left; text-transform: uppercase; padding: 7px 0 0 0; }
.main .content .dashboard .user-profile .update-image img{ float: right; border: none; }

.main .content .dashboard .user-menu{ float: left; padding: 35px 0px 0px 0px; }
.main .content .dashboard .user-menu .name{ float: left; width: 200px; }
.main .content .dashboard .user-menu .name h1{ margin-bottom: 10px; }
.main .content .dashboard .user-menu .name .info .box{ float: left; }
.main .content .dashboard .user-menu .name .info .box h3{ color: #524a48; padding: 7px 20px 0 20px; text-transform: uppercase; }

.main .content .dashboard .user-menu select{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}
.main .content .dashboard .user-menu input{ width: 96%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.main .content .dashboard .user-menu .reach{ float: left; width: auto; text-align: right; }
.main .content .dashboard .user-menu .reach h3{ margin-bottom: 10px; }

.main .content .dashboard .saved{ float: right; width: auto; padding-top: 50px; }
.main .content .dashboard .saved .box{ float: left; margin-left: 20px; }
.main .content .dashboard .saved .box h3{ color: #524a48; padding: 15px 10px 0 10px; }
.main .content .none{ border: none; }

.main .content .form-wrap{ /*border-bottom: 1px solid #999;*/ padding: 0px 0; }
.main .content .form-wrap .box{ float: left; width: 500px; }
.main .content .form-wrap h5, 
.main .content .user-menu h5{ font-weight: bold; text-transform: uppercase; margin-bottom: 0px; }

.main .content .form-wrap .box input{ width: 95%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }
.main .content .form-wrap .box .location{ margin-bottom: 10px; }
.main .content .form-wrap .box .location .image{ float: left; margin-right: 10px; }
.main .content .form-wrap .box .location input{ float: left; width: 97%; }

.main .content .form-wrap .box textarea{ width: 97%; height: 100px; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; resize: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.main .content .form-wrap .box .wrap .type{ width: 155px; float: left; margin-right: 10px;}
.main .content .form-wrap .box .wrap .type input{ width: 99%; }

.main .content .form-wrap select{ width: 99%; border: 1px solid #999; padding: 10px; margin-bottom: 5px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;}

.main .content .form-wrap .social{ border-left: 1px solid #555; }
.main .content .form-wrap .social li{ float: left; list-style: none; padding: 10px 15px; border-right: 1px solid #555; border-top: 1px solid #555; border-bottom: 1px solid #555; }
.main .content .form-wrap .social li input{ float: left; padding: 0; margin: 20px 0 0 0; }
.main .content .form-wrap .social li label{ float: left; text-transform: uppercase; font-size: 13px; padding: 20px; }
.main .content .form-wrap .social li img{ float: right; }

.main .content .form-wrap .gmap{ float: right; border: 10px solid #f5f5f5; width: 320px; height: 320px; }

.footer{ background: #d2c9ab; height: 100px; }

.main .content .dashboard .user-menu .error, .main .content .dashboard .form-wrap .box .error,
.main .content .dashboard .user-profile .error, .main .content .form-wrap .box .error{
	font-family: Verdana, Arial, sans-serif; 
	font-size: 0.9em;
	color: #900;
	background-color : #ffff00;
}

#content #register_password_errorloc{ clear:both; }

.main .content .dashboard .submitButton{ float: right; }

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {	
body{ margin: 0; padding: 0; }

.main .sidebar{ float: none; width: auto; padding: 50px; }
.main .content{ float: none; width: auto; background: #fff; padding: 50px; box-shadow: 0 2px 4px #555; }

.main .content .dashboard .user-profile{ float: none; margin-right: 0; margin-top: -40px; width: 240px; }
.main .content .dashboard .user-menu{ float: none; padding: 0px 0; }
.main .content .dashboard .user-menu .reach{ float: left; width: auto; text-align: right; }

.main .content .form-wrap .box .wrap .type{ width: 210px; }

.main .content .form-wrap select{ width: 100%; }

.main .content .form-wrap .social{ border-top: 1px solid #555; border-left: 1px solid #555; }
.main .content .form-wrap .social li{ width: 302px; border-top: none; border-right: 1px solid #555; border-bottom: 1px solid #555; }

.main .content .form-wrap .gmap{ float: none; width: 95%; margin: 30px 0; }
.main .content .form-wrap .box{ float: none; width: auto; }
}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
body{ margin: 0; padding: 0; }

.main .sidebar{ float: none; width: auto; padding: 15px 15px 40px 15px; }
.main .sidebar .btn-event img{ width: 100%; padding: 0; }

.main .menu li ul li h3{ padding: 20px; }
.main .menu li ul li a{ padding: 20px; }

.main .content{ float: none; width: auto; background: #fff; padding: 0 20px; box-shadow: 0 2px 4px #555; }

.main .content .dashboard .user-profile{ float: none; margin-top: 0; width: 240px; margin: 0 auto; }

.main .content .dashboard .user-menu{ float: none; padding: 30px 0 0 0; }
.main .content .dashboard .user-menu .name{ float: none; width: auto; margin-bottom: 0px; /*text-align: center;*/ }
.main .content .dashboard .user-menu .name h1{ margin-bottom: 20px; }
.main .content .dashboard .user-menu .name .info .box{ padding-left: 15px; }
.main .content .dashboard .user-menu .name .info .box h3{ padding: 7px 15px 0 15px; }

.main .content .dashboard .user-menu .reach{ float: none; text-align: center; margin: 20px 0; }

.main .content .dashboard .saved{ float: none; width: auto; padding-top: 0; }
.main .content .dashboard .saved .box{ float: none; margin: 20px 0; text-align: center; }

.main .content .form-wrap{ padding: 0px 0; }
.main .content .form-wrap .box{ float: none; width: auto; }
.main .content .form-wrap .box input{ width: 92%; }
.main .content .form-wrap .box .location input{ width: 96%; }

.main .content .form-wrap .box textarea{ width: 96%; }

.main .content .form-wrap .box .wrap .type{ width: auto; float: none; margin-right: 0; }
.main .content .form-wrap .box .wrap .type input{ width: 96%; }

.main .content .form-wrap select{ width: 96%; }

.main .content .form-wrap .social{ border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; }
.main .content .form-wrap .social li{ float: none; height: 60px; border-right: none; border-top: none; }

.main .content .form-wrap .gmap{ float: none; width: 93%; margin: 20px 0; }
}

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
body{ margin: 0; padding: 0; }
.main .content .dashboard .user-menu .name .info .box{ padding-left: 60px; }
}

/* http://sonspring.com/journal/clearing-floats */
.clear{ clear: both;  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0; }