/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PC (list provided by Google Element Inspector):
 * Amazon Kindle Fire HDX 		-> 2560 x 1600
 * 
 * Laptop with HiDPI screen 	-> 1440 x 900
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, 
abbr, acronym, address, big, cite, code,del, 
dfn, em, img, ins, kbd, q, s, samp,small, 
strike, strong, sub, sup, tt, var,b, u, i, 
center,dl, dt, dd, ol, ul, li,fieldset, form, 
label, legend,table, caption, tbody, tfoot, 
thead, tr, th, td,article, aside, canvas, 
details, embed, figure, figcaption, footer, 
header, hgroup, menu, nav, output, ruby, 
section, summary,time, mark, audio, video { font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { display: block; }

body{
	width: 75%;
	margin: 0 auto;
	background: #e9e4d5;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
	-webkit-tap-highlight-color: rgb(255,255,158);
	line-height: 1;
}

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Laptop with HDPI screen		-> 1280 x 800
 * Laptop with touch 			-> 1280 x 950
 * Google Nexus 10 				-> 1280 x 800
 * 
 * Apple iPad 					-> 1024 x 768
 * Apple iPad Mini 				-> 1024 x 768
 * BlackBerry PlayBook 			-> 1024 x 600
 * 
 * Google Nexus 7 				-> 960 x 600
 */
@media only screen and (min-device-width: 960px) and (max-device-width: 1280px){
	/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, 
	abbr, acronym, address, big, cite, code,del, 
	dfn, em, img, ins, kbd, q, s, samp,small, 
	strike, strong, sub, sup, tt, var,b, u, i, 
	center,dl, dt, dd, ol, ul, li,fieldset, form, 
	label, legend,table, caption, tbody, tfoot, 
	thead, tr, th, td,article, aside, canvas, 
	details, embed, figure, figcaption, footer, 
	header, hgroup, menu, nav, output, ruby, 
	section, summary,time, mark, audio, video { font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; border: 0; }

	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, footer, header,
	hgroup, menu, nav, section { display: block; }

	body{
		width: 75%;
		margin: 0 auto;
		background: #e9e4d5;
		font-family: Arial, Helvetica, sans-serif;
		-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
		-webkit-tap-highlight-color: rgb(255,255,158);
		line-height: 1;
	}

	ol, ul { list-style: none; }
	blockquote, q { quotes: none; }
	blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
	table { border-collapse: collapse; border-spacing: 0; }
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 6 Plus 			-> 414 x 736
 * 
 * Google Nexus 4 				-> 384 x 640
 * LG Optimus L70 				-> 384 x 640
 * 
 * Apple iPhone 6 				-> 375 x 667
 * 
 * BlackBerry Z30 				-> 360 x 640
 * Google Nexus 5 				-> 360 x 640
 * Nokia N9 					-> 360 x 640
 * Samsung Galaxy Note 3 		-> 360 x 640
 * Samsung Galaxy Note II 		-> 360 x 640
 * Samsung Galaxy S III 		-> 360 x 640
 * Samsung Galaxy S 4 			-> 360 x 640
 * 
 * Apple iPhone 4 				-> 320 x 480
 * Apple iPhone 5 				-> 320 x 568
 * Nokia Lumia 520 				-> 320 x 533
 */
@media only screen and (min-device-width: 213px) and (max-device-width: 720px){
	/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, 
	abbr, acronym, address, big, cite, code,del, 
	dfn, em, img, ins, kbd, q, s, samp,small, 
	strike, strong, sub, sup, tt, var,b, u, i, 
	center,dl, dt, dd, ol, ul, li,fieldset, form, 
	label, legend,table, caption, tbody, tfoot, 
	thead, tr, th, td,article, aside, canvas, 
	details, embed, figure, figcaption, footer, 
	header, hgroup, menu, nav, output, ruby, 
	section, summary,time, mark, audio, video { font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; border: 0; }

	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, footer, header,
	hgroup, menu, nav, section { display: block; }

	body{
		width: 100%;
		margin: 0 0;
		background: #e9e4d5;
		font-family: Arial, Helvetica, sans-serif;
		-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
		-webkit-tap-highlight-color: rgb(255,255,158);
		line-height: 1;
	}

	ol, ul { list-style: none; }
	blockquote, q { quotes: none; }
	blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
	table { border-collapse: collapse; border-spacing: 0; }
}