/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PC (list provided by Google Element Inspector):
 * Amazon Kindle Fire HDX 		-> 2560 x 1600
 * 
 * Laptop with HiDPI screen 	-> 1440 x 900
 */
body{ font-family: Arial, Helvetica, sans-serif; }

h1{ text-align: center; background-color: #FEFFED; height: 70px; color: rgb(95, 89, 89); margin: 0 0 -29px 0; padding-top: 14px; border-radius: 10px 10px 0 0; font-size: 35px; }

#image_preview{
	position: absolute;
	font-size: 30px;
	top: 100px;
	left: 100px;
	width: 250px;
	height: 230px;
	text-align: center;
	line-height: 180px;
	font-weight: bold;
	color: #C0C0C0;
	background-color: #FFFFFF;
	overflow: auto;
}

#selectImage{ padding: 19px 21px 14px 15px; position: absolute; bottom: 0px; width: 414px; background-color: #FEFFED; border-radius: 10px; }

.submit{
	font-size: 16px;
	background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
	border: 1px solid #e5a900;
	color: #4E4D4B;
	font-weight: bold;
	cursor: pointer;
	width: 300px;
	border-radius: 5px;
	padding: 10px 0;
	outline: none;
	margin-top: 20px;
	margin-left: 15%;
}

.submit:hover{ background: linear-gradient(#ffdd7f 5%, #ffbc00 100%); }

#file {
	color: red;
	padding: 5px;
	border: 5px solid #8BF1B0;
	background-color: #8BF1B0;
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: 0 0 15px #626F7E;
	margin-left: 15%;
	width: 72%;
}

#message{ position: absolute; top: 120px; left: 815px; }

#success{ color:green; }

#invalid{ color:red; }

#line{ margin-top: 274px; }

#error{ color:red; }

#error_message{ color:blue; }

#loading{ display:none; position:absolute; top:50px; left:850px; font-size:25px; }

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Laptop with HDPI screen		-> 1280 x 800
 * Laptop with touch 			-> 1280 x 950
 * Google Nexus 10 				-> 1280 x 800
 * 
 * Apple iPad 					-> 1024 x 768
 * Apple iPad Mini 				-> 1024 x 768
 * BlackBerry PlayBook 			-> 1024 x 600
 * 
 * Google Nexus 7 				-> 960 x 600
 */
@media only screen and (min-width: 960px) and (max-width: 2560px){

}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 6 Plus 			-> 414 x 736
 * 
 * Google Nexus 4 				-> 384 x 640
 * LG Optimus L70 				-> 384 x 640
 * 
 * Apple iPhone 6 				-> 375 x 667
 * 
 * BlackBerry Z30 				-> 360 x 640
 * Google Nexus 5 				-> 360 x 640
 * Nokia N9 					-> 360 x 640
 * Samsung Galaxy Note 3 		-> 360 x 640
 * Samsung Galaxy Note II 		-> 360 x 640
 * Samsung Galaxy S III 		-> 360 x 640
 * Samsung Galaxy S 4 			-> 360 x 640
 * 
 * Apple iPhone 4 				-> 320 x 480
 * Apple iPhone 5 				-> 320 x 568
 * Nokia Lumia 520 				-> 320 x 533
 */
@media only screen and (min-device-width: 320px) and (max-device-width: 720px){
	#image_preview{
		position: absolute;
		font-size: 30px;
		top: 100px;
		left: 100px;
		width: 250px;
		height: 230px;
		text-align: center;
		line-height: 180px;
		font-weight: bold;
		color: #C0C0C0;
		background-color: #FFFFFF;
		overflow: auto;
	}

	#selectImage{ padding: 19px 21px 14px 15px; position: absolute; bottom: 0px; width: 414px; background-color: #FEFFED; border-radius: 10px; }

	.submit{
		font-size: 16px;
		background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
		border: 1px solid #e5a900;
		color: #4E4D4B;
		font-weight: bold;
		cursor: pointer;
		width: 300px;
		border-radius: 5px;
		padding: 10px 0;
		outline: none;
		margin-top: 20px;
		margin-left: 15%;
	}

	.submit:hover{ background: linear-gradient(#ffdd7f 5%, #ffbc00 100%); }

	#file {
		color: red;
		padding: 5px;
		border: 5px solid #8BF1B0;
		background-color: #8BF1B0;
		margin-top: 10px;
		border-radius: 5px;
		box-shadow: 0 0 15px #626F7E;
		margin-left: 15%;
		width: 72%;
	}

	#message{ position: absolute; top: 120px; left: 815px; }

	#success{ color:green; }

	#invalid{ color:red; }

	#line{ margin-top: 274px; }

	#error{ color:red; }

	#error_message{ color:blue; }

	#loading{ display:none; position:absolute; top:50px; left:850px; font-size:25px; }
}