/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php
*/	
a img { border: 0; }

/* TYPOGRAPHY */
h1{ font-size: 41px; font-weight: normal; }
h2{ font-size: 21px; font-weight: normal; }
h3{ font-size: 17px; font-weight: normal; }
h4{ font-size: 14px; font-weight: normal; }
h5{ font-size: 13px; font-weight: normal; }
h6{ font-size: 11px; font-weight: normal; }

p{ line-height: normal; }

.reg{ background: #FFFFFF; }
.reg .content{ float: left; width: auto; /*background: url(../images/bg_shadow.png) repeat-y left #fff;*/ padding: 50px;  }
.reg .content .form-wrap{ border-bottom: 1px solid #999; padding: 30px 0; }

.reg .content .form-wrap .box{ float: left; width: 300px; }
.reg .content .form-wrap .box .regFirst{ float: none; width: auto; }
.reg .content .form-wrap .box .regLast{ float: none; width: auto; }
.reg .content .form-wrap .box .regUser{ float: none; width: auto; }
.reg .content .form-wrap .box .regPass{ float: none; width: auto; }
.reg .content .form-wrap .box .regConPass{ float: none; width: auto; }
.reg .content .form-wrap .box .regEmail{ float: none; width: auto; }
.reg .content .form-wrap .box .regTel{ float: none; width: auto; }
.reg .content .form-wrap .box .regImage{ float: none; width: auto; }
.reg .content .form-wrap .box .regSubmit{ float: none; width: auto; }

.reg .content .form-wrap h5{ font-weight: bold; text-transform: uppercase; margin-bottom: 0px; }
.reg .content .form-wrap .box input{ width: 95%; border: 1px solid #999; padding: 10px; margin-bottom: 10px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.reg .content .form-wrap .box .error{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #900;
	background-color : #ffff00;
}

.reg .content .form-wrap .box .success{ color: green; }

#content #register_password_errorloc{ clear:both; }

.clear{ clear: both;  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0; }

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Google Nexus 7 2											-> 960 x 600
 * 															-------------
 * Google Nexus 7											-> 966 x 604
 * 															-------------
 * Amazon Kindle Fire (First Generation)					-> 1024 x 600
 * BlackBerry PlayBook										-> 1024 x 600
 * Samsung Galaxy Tab										-> 1024 x 600
 * Apple iPad 1/ 2/ iPad Mini								-> 1024 x 768
 * Apple iPad 3/ 4											-> 1024 x 768
 * 															-------------
 * Google Nexus 10											-> 1280 x 800
 * Motorola Xoom, Xyboard									-> 1280 x 800
 * Samsung Galaxy Tab 7.7, 8.9, 10.1						-> 1280 x 800
 * 															-------------
 * Amazon Kindle Fire HDX 7"								-> 1920 x 1200
 * 															-------------
 * Amazon Kindle Fire HDX 8.9"								-> 2560 x 1600
 */
@media only screen and (min-device-width: 960px) and (max-device-width: 1024px){
	.reg .content{ float: none; width: auto; background: #fff; padding: 50px; box-shadow: 0 2px 4px #555; }

	.reg .content .form-wrap .box .wrap .type{ width: 210px; }

	.reg .content .form-wrap select{ width: 100%; }

	.reg .content .form-wrap .social{ border-top: 1px solid #555; border-left: 1px solid #555; }
	.reg .content .form-wrap .social li{ width: 302px; border-top: none; border-right: 1px solid #555; border-bottom: 1px solid #555; }

	.reg .content .form-wrap .box{ float: none; width: auto; }
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 3GS												-> 320 x 480
 * Apple iPhone 4												-> 320 x 480
 * Google Nexus S												-> 320 x 533
 * HTC Evo, Touch HD, Desire HD, Desire							-> 320 x 533
 * LG Optimus 2X, Optimus 3D, Optimus Black						-> 320 X 533
 * Nokia Lumia 7X0, Lumia 8XX, Lumia 900, N800, N810, N900		-> 320 x 533
 * Samsung Galaxy S, S II, W									-> 320 x 533
 * Apple iPhone 5												-> 320 x 568
 * Motorola Defy, Droid, Droid X, Milestone						-> 320 x 569
 *	 															------------
 * BlackBerry Z30												-> 360 x 640
 * Google Nexus 5												-> 360 x 640
 * HTC One X, EVO LTE											-> 360 x 640
 * HTC Sensation, Evo 3D										-> 360 x 640
 * Nokia C5, C6, C7, N97, N8, X7								-> 360 x 640
 * Samsung Galaxy Note	3										-> 360 x 640
 * Samsung Galaxy Note	II										-> 360 x 640
 * Samsung Galaxy S II, Galaxy Nexus							-> 360 x 640
 * Samsung Galaxy S4											-> 360 x 640
 * Sony Xperia S, Ion											-> 360 x 640
 * Sony Xperia Z, Z1											-> 360 x 640
 * 																------------ 
 * Apple iPhone 6												-> 375 x 667 
 * 																------------ 
 * BlackBerry Z10												-> 384 x 640 
 * Google Nexus 4												-> 384 x 640 
 * LG Optimus Generation										-> 384 x 640 
 * 																------------
 * Samsung Galaxy Note											-> 400 x 640
 * 																------------ 
 * Apple iPhone 6 Plus											-> 414 x 736 
 * 																------------ 
 * LG Optimus LTE, Optimus 4X HD								-> 424 x 753 
 * 																------------ 
 * Sony Xperia Sola, U											-> 480 x 854
 * 																------------
 * Motorola Droid 3, Droid 4, Droid Razr, Atrix 4G, Atrix 2		-> 540 x 960
 * 																------------
 * Motorola Droid Razr HD										-> 720 x 1280
 */
@media only screen and (min-device-width: 213px) and (max-device-width: 720px){
	/* TYPOGRAPHY */
	h1{ font-size: 41px; font-weight: normal; }
	h2{ font-size: 21px; font-weight: normal; }
	h3{ font-size: 17px; font-weight: normal; }
	h4{ font-size: 14px; font-weight: normal; }
	h5{ font-size: 13px; font-weight: normal; }
	h6{ font-size: 11px; font-weight: normal; }

	.reg .menu li ul li h3{ padding: 20px; }
	.reg .menu li ul li a{ padding: 20px; }

	.reg .content{ float: none; width: auto; background: #fff; padding: 0 20px; box-shadow: 0 2px 4px #555; }

	.reg .content .form-wrap{ padding: 30px 0; }
	
	.reg .content .form-wrap .box{ float: left; width: 100%; }
	.reg .content .form-wrap .box h5{ float: left; font-weight: normal; text-transform: capitalize; font-size: 18px; }
	
	.reg .content .form-wrap .box input{ width: 92%; }
	.reg .content .form-wrap .box .location input{ width: 74%; }

	.reg .content .form-wrap .box textarea{ width: 92%; }

	.reg .content .form-wrap .box .wrap .type{ width: auto; float: none; margin-right: 0; }
	.reg .content .form-wrap .box .wrap .type input{ width: 92%; }

	.reg .content .form-wrap select{ width: 100%; }

	.reg .content .form-wrap .social{ border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; }
	.reg .content .form-wrap .social li{ float: none; height: 60px; border-right: none; border-top: none; }
	
	.clear{ clear: both;  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0; }
}