/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PC (list provided by Google Element Inspector):
 * Amazon Kindle Fire HDX 		-> 2560 x 1600
 * 
 * Laptop with HiDPI screen 	-> 1440 x 900
 */	
a img { border: 0; }

/* TYPOGRAPHY */
h1{ font-size: 41px; font-weight: normal; }
h2{ font-size: 21px; font-weight: normal; }
h3{ font-size: 17px; font-weight: normal; }
h4{ font-size: 14px; font-weight: normal; }
h5{ font-size: 13px; font-weight: normal; }
h6{ font-size: 11px; font-weight: normal; }

p{ line-height: normal; }

.reg{ background: #FFFFFF; border-bottom: 1px solid #999; }
.reg .content{ margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.reg .content .form-wrap{ padding: 30px 0; }

.reg .content .form-wrap .box{ float: left; width: 100%; }

.reg .content .form-wrap .box .regFirst,
.reg .content .form-wrap .box .regLast,
.reg .content .form-wrap .box .regUser,
.reg .content .form-wrap .box .regPass,
.reg .content .form-wrap .box .regConPass,
.reg .content .form-wrap .box .regEmail,
.reg .content .form-wrap .box .regTel,
.reg .content .form-wrap .box .regImage,
.reg .content .form-wrap .box .regSubmit { float: left; width: 50%; }

.reg .content .form-wrap h5{ font-weight: bold; text-transform: uppercase; margin-bottom: 0px; }
.reg .content .form-wrap .box input{ width: 90%; border: 1px solid #999; padding: 10px; margin-bottom: 10px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.reg .content .form-wrap .box .error{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #900;
	background-color : #ffff00;
}

.reg .content .form-wrap .box .success{ color: green; }

#content #register_password_errorloc{ clear:both; }

.clear{ clear: both;  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0; }

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Laptop with HDPI screen		-> 1280 x 800
 * Laptop with touch 			-> 1280 x 950
 * Google Nexus 10 				-> 1280 x 800
 * 
 * Apple iPad 					-> 1024 x 768
 * Apple iPad Mini 				-> 1024 x 768
 * BlackBerry PlayBook 			-> 1024 x 600
 * 
 * Google Nexus 7 				-> 960 x 600
 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
	.reg .content{ float: none; width: auto; background: #fff; padding: 50px; box-shadow: 0 2px 4px #555; }

	.reg .content .form-wrap .box .wrap .type{ width: 210px; }
	
	.reg .content .form-wrap .box .regFirst{ float: none; width: auto; }
	.reg .content .form-wrap .box .regLast{ float: none; width: auto; }
	.reg .content .form-wrap .box .regUser{ float: none; width: auto; }
	.reg .content .form-wrap .box .regPass{ float: none; width: auto; }
	.reg .content .form-wrap .box .regConPass{ float: none; width: auto; }
	.reg .content .form-wrap .box .regEmail{ float: none; width: auto; }
	.reg .content .form-wrap .box .regTel{ float: none; width: auto; }
	.reg .content .form-wrap .box .regImage{ float: none; width: auto; }
	.reg .content .form-wrap .box .regSubmit{ float: none; width: auto; }

	.reg .content .form-wrap select{ width: 100%; }

	.reg .content .form-wrap .social{ border-top: 1px solid #555; border-left: 1px solid #555; }
	.reg .content .form-wrap .social li{ width: 302px; border-top: none; border-right: 1px solid #555; border-bottom: 1px solid #555; }

	.reg .content .form-wrap .box{ float: none; width: auto; }
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 6 Plus 			-> 414 x 736
 * 
 * Google Nexus 4 				-> 384 x 640
 * LG Optimus L70 				-> 384 x 640
 * 
 * Apple iPhone 6 				-> 375 x 667
 * 
 * BlackBerry Z30 				-> 360 x 640
 * Google Nexus 5 				-> 360 x 640
 * Nokia N9 					-> 360 x 640
 * Samsung Galaxy Note 3 		-> 360 x 640
 * Samsung Galaxy Note II 		-> 360 x 640
 * Samsung Galaxy S III 		-> 360 x 640
 * Samsung Galaxy S 4 			-> 360 x 640
 * 
 * Apple iPhone 4 				-> 320 x 480
 * Apple iPhone 5 				-> 320 x 568
 * Nokia Lumia 520 				-> 320 x 533
 */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px){
	/* TYPOGRAPHY */
	h1{ font-size: 41px; font-weight: normal; }
	h2{ font-size: 21px; font-weight: normal; }
	h3{ font-size: 17px; font-weight: normal; }
	h4{ font-size: 14px; font-weight: normal; }
	h5{ font-size: 13px; font-weight: normal; }
	h6{ font-size: 11px; font-weight: normal; }

	.reg .menu li ul li h3{ padding: 20px; }
	.reg .menu li ul li a{ padding: 20px; }

	.reg .content{ float: none; width: auto; background: #fff; padding: 0 20px; box-shadow: 0 2px 4px #555; }

	.reg .content .form-wrap{ padding: 30px 0; }
	
	.reg .content .form-wrap .box{ float: left; width: 100%; }
	.reg .content .form-wrap .box h5{ float: left; font-weight: normal; text-transform: capitalize; font-size: 18px; }
	
	.reg .content .form-wrap .box input{ width: 92%; }
	.reg .content .form-wrap .box .location input{ width: 74%; }

	.reg .content .form-wrap .box textarea{ width: 92%; }

	.reg .content .form-wrap .box .wrap .type{ width: auto; float: none; margin-right: 0; }
	.reg .content .form-wrap .box .wrap .type input{ width: 92%; }

	.reg .content .form-wrap select{ width: 100%; }

	.reg .content .form-wrap .social{ border-top: 1px solid #555; border-left: 1px solid #555; border-right: 1px solid #555; }
	.reg .content .form-wrap .social li{ float: none; height: 60px; border-right: none; border-top: none; }
	
	.clear{ clear: both;  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0; }
}