.top .profile{ background: #e9e4d5; /*border-bottom: 5px solid #aca58d;*/ }

.top .profile .user{ float: left; width: 360px; /*height: 102px;*/ padding: 0px 0px 0px 10px; }

.top .profile .user img{ float: left; }

.top .profile .user a{ float: right; margin-top: 20px;}

.top .profile .search{ float: left; height: 85px; border-left: solid 1px #595249; border-right: 1px solid #595249; padding: 35px 50px 0 50px; text-align: center; }

.top .search{ background: #e9e4d5; width: 450px; float: left; width: 10px; text-align: center; }

.top .search .box{ width: 50%; border: 1px solid #999; padding: 10px; margin-bottom: 43px; margin-top: 40px; outline: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px; }

.top .profile .search form{ border: 1px solid #595249; padding: 2px; }

.top .profile .search input{ background: #d2c9ab; padding: 10px; border: none; float: left; color: #ff0000; font-size: 16px; outline: none; }

.top .profile .search .btn-search{ padding: 0; }

/*.top{ border-bottom: 1px solid #595249; }*/

.top .logo{ float: left; width: 30%; text-align: left; padding:20px; }
.top .logo{ background: #e9e4d5; width: 275px; float: left; text-align: left; /*border-right: 1px solid #595249;*/ }

.top .search .image{ margin-top: 10px; }

.top .date{ font-family: 'Raleway', sans-serif; font-size:18pt;  float: left; width: 350px; padding-top: 35px; }

.top .date .box{ width: 275px; margin: 0 auto; }

.top .date h1{ float: left; color: #2e3135; padding: 10px 30px 0 0; }

.top .date .temp{ background: url(../images/bg_temperature.png) no-repeat right; float: left; width: 60px; height: 50px; padding: 10px 0 0 60px; font-size: 31px; color: #2e3135; }

.top .profile{ float: right; width: 300px; padding-top: 35px; padding-right:35px; }
.top .profile h2{ float: left; color: #554e45; padding: 50px 0 0 30px; }
.top .profile h3{ float: left; color: #554e45; padding: 10px 0 0 10px; }
.top .profile .username{ float: left; color: #554e45; padding: 10px 0 0 100px; }

/*.top .profile .user h2{ float: left; color: #595249; padding: 25px 30px; }*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	body{  margin: 0; padding: 0; }

	.top{ border-bottom: 1px solid #595249; }
	.top .logo{ width: auto; float: none; border: none; }
	.top .profile .user{ width: auto; }
	.top .profile .search{ border: none; padding: 35px 0 0 100px; }

	.top .logo{ width: 300px; height: 120px; text-align: left; }
	.top .date{ float: left; width: 450px; height: 85px; padding-top: 35px; }
	.top .profile{ float: none; width: auto; padding: 20px; }
}

/* Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {	
	body{  margin: 0; padding: 0; }

	.top .logo{ width: auto; float: none; border: none; text-align: center; }
	
	.top .profile{ width: auto; padding: 20px; border-bottom: 5px solid #aca58d; text-align:center; }
	.top .profile h2{ padding: 30px 0 0 20px; }
	.top .profile .user{ float: none; width: auto; height: auto; padding: 15px 0 15px 15px; }
	.top .profile .user h2{ padding: 30px 20px; }
	.top .profile .search{ float: none; height: auto; border-left: none; padding: 30px;text-align:center; }
	.top .profile .search .btn-search{ float: right; padding: 0; }

	.top .date{ float: none; width: auto; height: auto; padding-top: 0; text-align: center; }
	.top .date h1{ font-size: 24px; float: none; color: #2e3135; padding: 10px 0 20px 0; }
	.top .date .box{ width: auto; margin: 0 auto; }
	.top .date .temp{ float: none; margin: 0 auto; width: 80px; height: 50px; padding: 10px 0 0 40px; }
}