body{
	background: #e9e4d5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.top .logo{ float: left; width: 30%; text-align: center; }

.top .date{ float: left; width: 40%; padding-top: 35px; }
.top .date .box{ width: 450px; margin: 0 auto; }
.top .date h1{ float: left; color: #2e3135; padding: 10px 30px 0 0; }
.top .date .temp{ background: url(../images/bg_temperature.png) no-repeat right; float: left; width: 60px; height: 50px; padding: 10px 0 0 60px; font-size: 31px; color: #2e3135; }

.top .profile{ float: left; width: 25%; padding: 30px 30px; }
.top .profile .user{ float: left; }
.top .profile h2{ float: left; color: #554e45; padding: 0px 0 0 80px; }
.top .profile a{ float: right; margin-top: 20px; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
body{ margin: 0; padding: 0; }

.top .logo{ width: 300px; height: 120px; text-align: left; }
.top .date{ float: left; width: 450px; height: 85px; padding-top: 35px; }
.top .profile{ float: none; width: auto; padding: 20px; }
}

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {	
	body{ margin: 0; padding: 0; }

	.top .logo{ float: none; width: auto; text-align: center; }
	.top .date{ float: none; width: auto; height: auto; padding-top: 0; text-align: center; }
	.top .date .box{ width: auto; margin: 0 auto; }
	.top .date h1{ font-size: 24px; float: none; color: #2e3135; padding: 10px 0 20px 0; }
	.top .date .temp{ float: none; margin: 0 auto; width: 80px; height: 50px; padding: 10px 0 0 40px; }
	.top .profile{ width: auto; padding: 20px; }
	.top .profile h2{ padding: 30px 0 0 20px; }
}