@import url(meyer_reset.css);

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PC (list provided by Google Element Inspector):
 * Amazon Kindle Fire HDX 		-> 2560 x 1600
 * 
 * Laptop with HiDPI screen 	-> 1440 x 900
 */
.app h2 { clear:both; }

.app p, a { font-size:9pt; margin:10px 0 0 0; color:#3d3d3d; cursor: pointer; }

.app a, 
.app a:visited, 
.app a:hover { color:#427fed; cursor: pointer;}

.app a:hover { color:#82afff; }

.app .tweet { width:40%; }
.app .timePosted { width:18%; }

.app .interact { float:left; width:10%; margin-top:-7px; }

.app .user { width:29%; clear:left; }
.app .user a { width: 100px; }
.app .user span span { width:100px; display:block; margin-top:10px; }
.app .user img, .app .user a > span { float:left; }

.app .user, 
.app .tweet, 
.app .timePosted { float:left; }

.app .interact a { margin-left:5px; float:left; }

.app .user a > span { margin-left:10px; }

.app .media img { max-device-width:250px; max-height:250px; }

.app #linkage { position:fixed; top:0px; right:0px; background-color:#3d3d3d; color:#ffffff; text-decoration:none; padding:5px; width:10%; font-family: Arial, Helvetica, sans-serif; }

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING TABLETS (list provided by Google Element Inspector):
 * Laptop with HDPI screen		-> 1280 x 800
 * Laptop with touch 			-> 1280 x 950
 * Google Nexus 10 				-> 1280 x 800
 * 
 * Apple iPad 					-> 1024 x 768
 * Apple iPad Mini 				-> 1024 x 768
 * BlackBerry PlayBook 			-> 1024 x 600
 * 
 * Google Nexus 7 				-> 960 x 600
 */
@media only screen and (min-device-width: 960px) and (max-device-width: 1280px){
	.app .media img { float: none; max-device-width:250px; max-height:250px; }
	.app .user a > span { float: none; width: 100%; margin: 0 0 0 0px; }
	
	.app .user { float: left; width: 26%; clear:left; }
	.app .tweet { float:left; width: 40%; }
	.app .timePosted { float:left; width: 20%; }
	
	.app .interact { float:left; width:10%; margin-top:-7px; }
	.app .interact a { margin-left:5px; float:left; }

	.app p, a { font-size:9pt; margin:10px 0 0 0; color:#3d3d3d; }

	.app a, .app a:visited{ color:#427fed; cursor: pointer;}

	.app a:hover { color:#82afff; }
}

/* THIS PORTION WILL TAKE CARE OF THE FOLLOWING PHONES (list provided by Google Element Inspector):
 * Apple iPhone 6 Plus 			-> 414 x 736
 * 
 * Google Nexus 4 				-> 384 x 640
 * LG Optimus L70 				-> 384 x 640
 * 
 * Apple iPhone 6 				-> 375 x 667
 * 
 * BlackBerry Z30 				-> 360 x 640
 * Google Nexus 5 				-> 360 x 640
 * Nokia N9 					-> 360 x 640
 * Samsung Galaxy Note 3 		-> 360 x 640
 * Samsung Galaxy Note II 		-> 360 x 640
 * Samsung Galaxy S III 		-> 360 x 640
 * Samsung Galaxy S 4 			-> 360 x 640
 * 
 * Apple iPhone 4 				-> 320 x 480
 * Apple iPhone 5 				-> 320 x 568
 * Nokia Lumia 520 				-> 320 x 533
 */
@media only screen and (min-device-width: 213px) and (max-device-width: 720px){
	.app h2 { clear:both; }
	
	.app p, a { font-size:9pt; margin:10px 0 0 0; color:#3d3d3d; }
	
	.app a, 
	.app a:visited, 
	.app a:hover { color:#427fed; cursor: pointer;}
	
	.app a:hover { color:#82afff; }
	
	/*.app ul li { list-style:none; overflow:hidden; border:1px solid #dedede; margin:5px; padding:5px;}*/
	/*.app ul li:hover { background-color:#f0f3fb; } */
	
	.app .tweet { width: 36%; word-wrap: break-word; padding: 0 5px 0 0; }
	.app .timePosted { width:18%; }
	
	.app .interact { float:left; width:10%; margin-top:-7px; }
	
	.app .user { width: 28%; clear: left; }
	.app .user a { width: 100%; }
	.app .user span span { width:100px; display:block; margin-top:10px; }
	.app .user img, .app .user a > span { float:left; }
	.app .user, .app .tweet, .app .timePosted { float:left; }
	
	.app .interact a { margin-left:5px; float:left; }
	
	.app .user a > span { margin: 0px 0px 2px 0px; }
	
	.app .media img { max-device-width:250px; max-height:250px; }
}