/* This query is applied for protait Tablet ipad
*/
@media only screen and (min-width: 960px) and (max-width: 1260px) {
.slide-img {
width: 891px;
height: 377px;
}
}
@media only screen and (min-width: 768px) and (max-width: 960px) {
    .menu_wrap { width: 100% !important; }
    .menu_wrap { width: 748px; }                           
    ul.ddsmoothmenu li.menu-gradient { width: 138px; }
    .flexslider { width: 746px !important; }
    li.depth-4 ul.children { padding-left: 0; }  
    .slider-container {
        height:350px !important;
    }
    .slide-image {
        height:305px;
        margin-top:13px;
        background: url("../images/bg-slider-land.png") no-repeat bottom center !important;
        padding-bottom:15px;
    }
    #slides iframe {
        width:698px;
        height:300px;
    }
    #slides .slide-img {
        width:698px;
        height:300px;
    }
    #slider_pag {
        width: 698px !important;
    }
    #slider_pag ul {
        max-width: 698px;
    }
    .slide .slide-content.entry {
        bottom: 30px !important;
        position: absolute;
    }
    #searchform {
        position:relative;
        width: 199px !important;
    }    
    #searchform #s {
        width:160px !important;
        height:25px;
        color:#939292;
        border: 1px solid #eeeeee;
        padding-left:10px;
    }

    .footer #searchform {
        background-image:none;
        border:1px solid #000;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        width:134px !important;
        background-color:#0F3F74;
    }
    .folio-content ul.thumbnail {
        width: 732px !important;
        margin-left:-58px;
    }
    .folio-content ul.thumbnail li {
        margin-left:58px !important;
        float:left;
        overflow:hidden;
        background:none;
        margin-bottom:58px !important;
    }    
}

@media only screen and ( max-width: 767px ) {
    .menu_wrap{ width: 460px; }                       	
    ul.ddsmoothmenu{ display: none; }                           
    .mobile_nav { display: inline-block; color: #fff; text-shadow: 1px 1px 0 rgba(0,0,0,0.6); }
    .ddsmoothmenu { text-align: center; }
    li.depth-4 ul.children { padding-left: 0; }   
    .footer-navi .right-navi p{
        text-align:center;
        margin-bottom:10px;
    }
    .footer-navi .navigation ul.footer_des{
    }
}
/* This query is applied for landscape ipad, Mobile
*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* Theme stylesheets    
    */
    .menu_wrap { width: 100% !important; }
    .content-wrap {
        padding-right:30px !important;
    }
    #content .columns .one_fourth{
        width:48%;
    }
    #content .columns .one_fourth.middle{
        margin-right:0 !important;
    }
    .slider-container {
        height:250px !important;
    }
    .slide-image {
        height:206px;
        margin-top:13px;
        background: url("../images/bg-slider-pro.png") no-repeat bottom center !important;
        padding-bottom:15px;
    }
    #slides iframe {
        width:410px;
        height:210px;
    }
    #slides .slide-img {
        width:410px;
        height:210px;
    }
    #slider_pag {
        width: 410px !important;
    }
    #slider_pag ul {
        max-width: 410px;
    }
    .slide .slide-content.entry {
        visibility:hidden;
    }
    .folio-content ul.thumbnail {
        width: 100% !important;
        margin-left:0 !important;
        text-align:center !important;
    }
    .folio-content ul.thumbnail li {
        margin-left:68px !important;
        float:none !important;
        overflow:hidden;
        background:none;
        margin-bottom:58px !important;
    }
    .sidebar {
        border-left:0 !important;
    }
    .sidebar ul li:hover {
        background:url(images/sidebar_hover.png) repeat-x !important;
    }
    .sidebar ul {
        margin-left:0 !important;
    }
    .sidebar ul li{
        margin-left:0 !important;
        padding-left:0 !important;
    }
    .footer-container .common{
        margin-left:30px !important;
        padding-left:0 !important;
        margin-right:30px !important;
        padding-right:0 !important;
    }
    .footer-container .grid_6{
        width:100%;
        margin-left:0;
    }
    .footer-navi .navigation ul li{
        background:none;
    }
    .footer-navi .navigation{
        text-align:center;
    }
    .footer-navi .navigation .right-navi{
        margin:0 auto !important;
        float:none !important;
        clear:both;
        padding-bottom:10px !important;
    }
    .footer-navi .navigation ul {
        float:none !important;
    }
    .social_link p {
        float:none !important;
    }
    .footer-navi .navigation ul.footer_des{
        float:none;
        text-align:center;
    } 
    .footer-navi .navigation ul li {
        padding-left:0;
        padding-right:0;
        margin-left:0;
    }
}
/* This query is applied for protait ipad, Mobile
*/
@media only screen and (max-width: 480px) {
    .menu_wrap { width: 100% !important; }
    .slider{
        visibility:hidden;
        height:0;
        width:0;
    }
    .slider-container{
        visibility:hidden;
        height:0;
        width:0;
    }
    .content-wrapper .content-info {
        margin-bottom:0 !important;
    }
    #content {
        margin-top:10px !important;
    }
    #content .columns .one_fourth{
        width:100%;
        text-align:center;
    }
    #content .one_fourth h3 {
        margin-top:0 !important;
    }
    #content .columns .one_fourth img{
        width:100%;
        height:auto;
    }
    .content-wrap{
        padding-right:30px !important;
    }
    .slider-container {
        height:0 !important;
    }
    .slide-image {
        height:0 !important;
        margin-top:13px;
        background: url("../images/bg-slider-pro.png") no-repeat bottom center !important;
    }
    #slides iframe {
        width:0 !important;
        height:0;
    }
    #slides .slide-img {
        width:0 !important;
        height:0 !important;
    }
    #slider_pag {
        width: 0px !important;
    }
    #slider_pag ul {
        max-width: 0px;
    }
    .slide .slide-content.entry {
        bottom: 10px !important;
        position: absolute;
        visibility:hidden;
        width:0 !important;
    }
    .folio-content ul.thumbnail {
        width: 100% !important;
        margin-left:0 !important;
        text-align:center !important;
    }
    .folio-content ul.thumbnail li {
        margin-left:68px !important;
        float:none !important;
        overflow:hidden;
        background:none;
        margin-bottom:58px !important;
    }
    .sidebar {
        border-left:0 !important;       
    }
    .sidebar ul li:hover {
        background:url(images/sidebar_hover.png) repeat-x !important;
    }
    .sidebar ul {
        margin-left:0 !important;
    }
    .sidebar ul li{
        margin-left:0 !important;
        padding-left:0 !important;
    }
    ul.contactform input[type="text"],ul.contactform textarea{
        width:96% !important;
    }
    .folio-content ul.thumbnail {
        width: 100% !important;
        margin-left:0 !important;
        text-align:center !important;
    }
    .folio-content ul.thumbnail li {
        margin-left:0 !important;
        float:none !important;
        width:240px !important;
        margin-bottom:25px !important;
    }
    .folio-content ul.thumbnail li img {
        width:225px !important; 
        margin-left:-32px;
    }
    .folio-content ul.thumbnail a.zoombox {
        display:block;
        width:245px;
        background-position:0% 100% !important;
    }
    .footer-container .common{
        margin-left:30px !important;
        padding-left:0 !important;
        margin-right:30px !important;
        padding-right:0 !important;
    }
    .footer-container .grid_6{
        width:100%;
        margin-left:0;
    }
    .footer-navi .navigation ul li{
        background:none;
    }
    .footer-navi .navigation{
        text-align:center;
        margin-left:20px !important;
    }
    .footer-navi .navigation .right-navi{
        margin:0 auto !important;
        float:none !important;
        clear:both;
        padding-left:65px;
        padding-bottom:10px;
    }
    .footer-navi .navigation ul {
        float:none !important;
        text-align:center;
    }
    .footer-navi .copyright{
        visibility:hidden;
        height:0;
        width:0;
    }
    .footer-navi .right-navi{
        width:234px !important;
        padding-bottom:10px !important;
        overflow:hidden;
        text-align:center !important;
    }
    .post img, .content-wrap #blogmain img.postimg{
        visibility:hidden;  
        height:0;
        width:0;
        margin:0 !important;
        padding:0 !important;
    }
    .footer-navi .right-navi {
        padding-top: 10px;
        margin-right: 0 !important;
        text-align: center;
    }
}
