#menu {
    position:relative;
}
#menu ul {
    list-style-type:none;
}
#menu .sf-menu {
    list-style:none;
    position:relative;
    z-index:100;
    margin: 0;
    margin-top: 5px;
}
#menu .sf-menu li > ul li > ul {
    margin-top:1px;
}
#menu .sf-menu li {
    position:relative;
    display:block;
    float: left;
    font-size:15px;
    margin-left:0;
    margin-bottom:0;
    margin-right: 14px;
    -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
#menu .sf-menu li a {
    position:relative;
    display: block;
    color:#000;
    text-decoration:none;
    padding:5px 10px 5px 10px;
    border-radius: 5px;
}
#menu li.current-menu-item a,#menu li  a.selected, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover, #menu li.current_page_item a {
    color:#fff;
    background:#343434;
}
#menu .sf-menu li > ul {
    margin-top:-15px;
    margin-left: 0;
}
#menu li li a, #menu li li a.sf-with-ul, #menu li li a:hover {
    border-radius:5px;
}
#menu li.current-menu-item a:hover, #menu li.current-menu-parent a:hover, #menu li.current_page_parent a:hover, #menu li a:hover.selected {
    text-decoration:none;
    color:#fff;
}
#menu .sf-menu li.current-menu-item a, #menu .sf-menu li.menu-item-home a{
    margin-right:0;
}
#menu .sf-menu li li:first-child{
}
#menu .sf-menu li li {
    text-transform:capitalize;
    margin:0;
    padding:0;/*background of menu items (default state)*/
    background-color: #2b4a07;    
    border-radius: 0;
}
#menu .sf-menu li li a {
    height:auto;
    float:none;
    display: block;
    text-align:left;
    color:#FFFFFF;
    text-shadow:none;
    margin:0;
    padding:10px 18px;
    text-decoration: none;
    background:none;
    position:relative;
    border-radius: 0;
}
#menu .sf-menu li li li a {
    border-bottom: 1px solid rgba(0, 0, 255, 0.1);
}
#menu .sf-menu li li li:last-child a {
    border-bottom: 0;
}
* html #menu .sf-menu li li a {
    display:inline-block;
}
#menu .sf-menu li li a:link, #menu .sf-menu li li a:visited {
    color:#fff;
}
#menu li li:first-child {
    /*	padding-top:5px !important;*/
}
#menu li li:last-child {
}
#menu .sf-menu li li a.selected, #menu .sf-menu li li a:hover {
    color: #258fc1;
    text-shadow:none;
}
#menu .sf-menu li ul li {
    display:list-item;
    float:none;
}
#menu .sf-menu li ul li ul {
    padding-top:0;
    background:none;
    top:0;
    margin-top:0;
    margin-left:0;
}
#menu .sf-menu li ul li ul li:first-child{
    padding-top:0;
}
.sf-sub-indicator{
background:url(images/tip_sf.png) no-repeat; 
}
.sf-menu ul {
    position:		absolute;
    top:			-900em;
    width:			10em; /* left offset of submenus need to match (see below) */
    padding: 0;
    position: absolute;
    left: -999em;
    width: 200px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background:#2b4a07;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left:0;
    top:3.3em; /* match top ul list item height */
    z-index:99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left:			200px; /* match ul width */
    top:			0;
}
#menu .sf-menu li li a {
    border-top:1px solid rgba(0, 0, 255, 0.1);
}
#menu .sf-menu li li li a {
    border-top:1px solid #000;
}
#menu .sf-menu li li:first-child a {
	border-top:0;
}
#menu .sf-menu li li a:after {
    border-top:1px solid rgba(255, 255, 255, 0.1);
}
#menu .sf-menu li li:last-child a:after {
    border-bottom:1px solid rgba(0, 0, 255, 0.1);
}

#menu .sf-menu li li a.selected, #menu .sf-menu li li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
    color: #FFFFFF;
    background:#4F7327;
}
#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover,#menu li.current_page_item a, #menu li.sfHover, #menu li.sfHover a{
    color:#fff;
    background:#2B4908;
}
#menu .ddsmoothmenu li li {
    background: #2B4908;
}