.search {
	/*background: url(../images/bg_top.png) repeat-x bottom;*/ 
	float:left;
	padding-top:30px;
	text-align:center;
}

.search form input{
	float:left;
	/*
	width: 400px;
	border: 1px solid #999;
	padding: 10px;
	font-size:15pt;
	margin-bottom: 5px;
	outline: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	*/
}

.search .box {
	margin: 0px 0px;
	float:left;
	}

/*Responsive*/
@media only screen and (max-width: 767px) {
	.search {
		/*background: url(../images/bg_top.png) repeat-x bottom;*/ 
		text-align: center;
	}
	
	.search form input{
		width: 280px;
		border: 1px solid #999;
		padding: 10px;
		font-size:15pt;
		margin-bottom: 5px;
		outline: none;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		-khtml-border-radius: 6px;
		border-radius: 6px;
	}
	
	.search .box {
		margin: 0px 500px;
		}
}