body{
	background: #e9e4d5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.links{ background: #f4f1ea; padding: 10px 0; }
.links ul{ float: left; width: 20%; padding-left: 5%; }
.links ul li{ list-style: none; line-height: 21px; }
.links ul li h3{ color: #282826; }
.links ul li a{ font-size: 14px; color: #282826; text-decoration: none; }
.links ul li a:hover{ text-decoration: underline; }

/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
	.links{ padding: 30px 0; }
	.links ul{ float: none; width: auto; padding: 10px 0; text-align: center; }
}